@media only screen and (min-width:412px) and (min-height:912px) and (orientation:landscape) {
    @media only screen and (max-width:412px) and (max-height:915px) and (orientation:landscape) {
        /* Close Arrow side navigation menu design */
        .closeArrow {
          /* Styles for the left arrow */
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 25px solid #000;
          transform: rotate(180deg);
        }
        /* Opening arrow side navigation menu  */
        .arrow{
          /* Adjust the margin as needed */
          margin-right: 5px; 
          /* Adjust the size of the arrow */
          font-size: 14px; 
        }
        /* Close button style */
        .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
          cursor: pointer;
          color: white;
        }
        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
          transition: margin-left .5s;
          padding: 20px;
        }
        /* Page content */
        .main {
          margin-left: 200px; /* Same as the width of the sidenav */
        }
      }
      @media only screen and (max-width:412px) and (max-height:915px) and (orientation:landscape){
        /* Style for the table container lista optiuni 1 */
        .table-container_lista_optiuni {
          bottom: 70px;
          width: 290px;
          height: 300px;
          position: relative;
          border: 3px outset #ddd;
          display: inline-block;
          border-radius: 30px;
          box-sizing: border-box;
          grid-auto-flow: dense;
          margin-bottom: 10px;
          margin-top: 200px;
          margin-left: 20px;
          margin-right: 20px;
          animation: flowWaves 4s infinite linear, flowWavesDepth 6s infinite linear;
          background-size: 200% 200%;
          align-items: baseline;
          background-color: rgb(54, 32, 8);
        } 
        /* Style for the text "open" */
        /* Style for the next and previous buttons */
        .prev, .next {
          cursor: pointer;
          position: relative;
          top: 50px;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        /* Position the "next button" to the right */
        /* Style for the border radius of the next button */
        .next{
          right: 0;
          border-radius: 3px, 0px, 0px, 3px;
        }
        /* On hover, add a black background color with a little bit see-through to previous and next buttons */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        /* Caption text */
        /* style of the .text inside the side navigation */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: sticky;
          top: 0;
        }
        .numbertext-1 {
          color: #f2f2f2;
          padding-top: 10px;
          max-width: max-content;
          font-size: 12px;
          padding: 8px 12px;
          left: 20px;
          position: sticky;
          top: 0px;
          width: 100px;
        }
        .numbertext-2 {
          color: #f2f2f2;
          max-width: max-content;
          font-size: 12px;
          padding: 8px 12px;
          position: sticky;
          top: 0;
        }
        .numbertext-3 {
          color: #f2f2f2;
          max-width: max-content;
          font-size: 12px;
          padding: 8px 12px;
          position: sticky;
          max-width: fit-content;
          top: 0;
        }
        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
          background-color: #717171;
        }
        /* Fading animation */
        .fade {
          animation-name:fade;
          animation-duration: 1ms;
        }
        @keyframes fade {
          from {opacity: 4}
          to {opacity: 1}
        }
        .glowing-background {
          background: linear-gradient(20deg, #ffffff 32%, rgb(0, 35, 81)70%, rgb(207, 64, 28)85%);
          background-size: 300% 350%;
          animation: glowing 2s ease-in-out infinite;
        }
        .glowing-background {
          transition: box-shadow 1s ease-in-out;
        }
        .glowing-background:hover {
          box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
        }
        /* TableHeader colors for #Despre #Comenzi #Livrare #Suport #Informatii Aditionale Pages */

        /* Remove unnecessary styles for th elements in tbody */
        /* Links inside the navbar */
        .glowing-background {
          background: linear-gradient(20deg, #d08132 62%, rgb(46, 100, 170)70%, rgb(139, 66, 47) 85%);
          background-size: 300% 350%;
          animation: glowing 3s ease-in-out infinite;
        }
        .glowing-background {
          transition: box-shadow 1s ease-in-out;
        }
        .glowing-background:hover {
          box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8);
        }
        /* Navbar container */
        .glowing-background {
          background: linear-gradient(20deg, #d08132 32%, rgb(155, 173, 196)70%, rgb(139, 66, 47) 85%);
          background-size: 300% 350%;
          animation: glowing 3s ease-in-out infinite;
        }
        .glowing-background {
          transition: box-shadow 1s ease-in-out;
        }
        .glowing-background:hover {
          box-shadow: 0 0 20px 10px rgba(145, 68, 68, 0.8);
        }
        @keyframes pulse {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            /* Add webkit prefix for older iOS devices */
            -webkit-transform: scale(0.95); 
          }

          50% {
            transform: scale(1.5);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            -webkit-transform: scale(1);
          }

          100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            -webkit-transform: scale(0.95);
          }
        }
        #Acasa_menu_container {
          border: 1px;
          border-color: #ffffff;
          border-width: 1px;
          border-style: groove;
          border-radius: 20px;
          /* box-sizing: content-box; */
          width: 100px;
          left: 10px;
          height: 100px;
          /* margin: 50px; */
          list-style-type: none;
          position: relative;
          display: inline-block;
          margin-left: auto;
          margin-right: 300px;
          background: linear-gradient(35deg, #ffffff 27%, rgb(255, 229, 59)66%, rgb(255, 255, 255) 75%);
          animation: flowWaves 4s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;

          /* background-size: 200% 200%; */
        }
        #Menu_Categories {
          border: 1px #ffffff;
          border-width: 1px;
          border-style: groove;
          border-radius: 20px;
          box-sizing: content-box;
          width: 100px;
          height: 100px;
          bottom: 102px;
          left: 125px;
          margin-left: 0px;
          margin-right: auto;
          list-style-type: none;
          position: relative;
          display: inline-block;
          background: linear-gradient(35deg, #ffffff 27%, rgb(245, 255, 63)66%, rgb(255, 255, 255) 75%);
          animation: flowWaves 1s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;
          margin-bottom: 0px;
        }
        #menu_produse_top {
          border: 1px #ffffff;
          border-width: 1px;
          border-style: groove;
          border-radius: 20px;
          box-sizing: content-box;
          width: 100px;
          height: 100px;
          left: 130px;
          bottom: 100px;
          margin-left: 0px;
          margin-right: auto;
          list-style-type: none;
          position: relative;
          display: inline-block;
          background: linear-gradient(35deg, #ffffff 27%, rgb(245, 255, 63)66%, rgb(255, 255, 255) 75%);
          animation: flowWaves 1s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;
          margin-bottom: 0px;
        }
        #submit-cauta-bara-de-cautare{
          padding: 20px 20px;
          color: rgb(255, 255, 255);
          border: 2px outset;
          border-radius: 30px;
          text-align: unset;
          justify-content: center;
          background: rgba(0, 0, 0, 0.19);
          cursor: pointer;
          max-width: 80px;
          height: 20px;
        }
      }
      @media only screen and (max-width:412px) and (max-height:915px) and (orientation:landscape) {
        .slideshow-container{
          margin-left: 400px;
          margin-right: 0px;
          border: 1px solid black;
          width: 380px;
          height: 630px;
          position: -webkit-sticky;
          top: 50px;
          right: 400px;
          overflow: hidden;
          display: block;
          border-radius: 30px;
          border-width: 10px;
        }
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: sticky;
          top: 0;
        }
        .numbertext-2 {
          color: #f2f2f2;
          max-width: max-content;
          font-size: 12px;
          padding: 8px 12px;
          position: sticky;
          top: 0;
        }
        .numbertext-3 {
          color: #f2f2f2;
          max-width: max-content;
          font-size: 12px;
          padding: 8px 12px;
          position: sticky;
          max-width: fit-content;
          top: 0;
        }
        .slideshow-container img{
          max-width: 200px;
          max-height: 200px;
          position: relative;
          border: solid #ffffff 2px;
          border-radius: 30px;
          padding-left: auto;
          padding-right: auto;
          margin-top: 10px;
          margin-bottom: 50px;
          margin-left: 10px;
          margin-left: 14px;
          height: auto;
          display: block;
        }
        /* Styles for the search bar */
        /* Styles for the dropdown items */
        .dropdown-container {
          position: absolute;
          display: none;
          background-color: #f5f5dc; /* BlanchedAlmond */
          border: 1px solid #ccc;
          border-radius: 30px;
          padding: 10px;
          max-height: 200px;
          overflow-y: auto;
        }
        .dropdown-item {
          padding: 5px;
          margin-bottom: 10px;
        }
        .dropdown-item .a{
          border: 1px solid black;
        }
        /* CSS for the side navigation menu */
        /* Styling for the triangle icon */
        #dropdown-content-Meniu-produse-1-10 {
            border: 2px solid blue;
            border-radius: 20px;
            width: 220px;
            margin-top: 30px;
            height: 600px;
            margin-bottom: 100px;
            background: linear-gradient(50deg, #fff2b2 23%, #4d4201 70%, #fffd8c 85%);
        }
      }
      @media only screen and (max-width:412px) and (max-height:915px) and (orientation:landscape) {
        #dropdown-content-images3 {
            position: absolute;
            /* Using flexbox */
            flex-wrap: nowrap;
            display: none;
            /* Consider reducing this value */
            /* padding-block: 100px;  */
            /* padding-right: 687px;     */
            /* Adjust this value to reduce the top padding */
            padding: 39px;
            left: -720px;
            right: -382px;
            background-blend-mode: color-dodge;
            background: transparent;
            border-radius: 30px;
            /* box-shadow: 20px 8px 16px 0px rgba(0, 0, 0, 0.2); */
            z-index: 1;
            list-style-type: none;
        }
        #dropdown-content-images3 a {
            display:block;
            /* position: relative; */
            padding: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
            border-radius: 30px;
            text-decoration: none;
            color: #000;
            list-style-type: none;
            transition:inherit;   
        }
        #dropdown-content-images3 a:hover {
            /* background-color: #c51414; */
            padding-bottom: 30px;
            margin: 120px;
            list-style-type: none;
            transition:ease-in-out 2s;
            position: sticky;
        }
        #dropdown-content-images3 .image-container_dropdown_1 {
            height: auto;
            position: relative;
            list-style-type: none;
            border: 2px;
            text-align: center;
            text-rendering:optimizeSpeed;
            text-shadow: bisque;
            transition:ease-in-out 2s;
        }
        .dropdown-content_imagini {
            display: none;
            position: absolute;
            background-color: #970000;
            border: 1px solid black;
            border-radius: 30px;
        }
        /* Show dropdown content when hovering over the main menu item */
        .a:hover .dropdown-content_imagini {
            display: inline-block;
        }
        /* Style for the dropdown links */
        .dropdown-content_imagini .dropdown-container {
            display: inline-block;
            padding: 10px;
        }
        /* Style for the images inside the dropdown content */
        .dropdown-content_imagini img {
            width: 200px;
            height: 200px;
        }
        .dropdown-container {
            margin-right: 20px;
        }
        .dropdown-container img {
            width: 200px;
            height: 200px;
        }

        .dropdown-content .header {
            background: red;
            padding: 2px;
            color: white;
            width: auto;
            float: none;
          }
          /* Top left animation a simple circle  */
          h1::before {
            /* display: flow-root; */
            /* width: 25px;
            height: 25px; */
            /* Color of the circle */
            /* border: 15px solid #c45858;  */
            /* Make it a circle */
            /* border-radius: 40px;  */
            /* float:left; */
            position: -webkit-sticky;
            /* position: -webkit-sticky; */
            /* position: -webkit-sticky; */
            /* Adjust this value to position the circle inside the border */
            /* right: 10px;  */
            /* Center vertically */
            /* top: 25px; */
            /* bottom: 10px; */
            /* Adjust to vertically center the circle */
            /* transform: translateY(-2%); */
            /* animation: pulse  4s infinite alternate; */
          }
          h1::after {
            /* Make it rounded */
            border-radius: 12px; 
            /* Empty content */
            content: ""; 
            position: sticky;
            display: flow-root;
            width: 40px;
            height: 40px;
            float: right;
            margin-top: 0px;
            /* position: sticky; */
            /* Adjust this value to position the box inside the border */
            /* right: 410px;  */
            /* Distance from the top */
            top: 70px; 
            /* overflow: auto; */
            background: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); /* Replace with your coffee image path */
            /* Adjust background size as needed */
            background-size:cover; 
            /* Apply animation */
            animation: pulse 4s linear infinite;
          }
          h1::after::before {
            /* Empty content */
            content: ""; 
            display:inline;
            width: 20px;
            height: 20px;
            position: sticky;
            /* Replace with your coffee image path */
            background: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); 
            /* Adjust background size as needed */
            background-size: contain; 
            /* Apply animation */
            animation: pulse 2s infinite alternate;
          }
          /* Animation for pulsating */
          @keyframes pulse {
            0% {
              transform: scale(0.85);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
                  /* Add webkit prefix for older iOS devices */
                  -webkit-transform: scale(0.85); 
            }

            70% {
              transform: scale(0.9);
              box-shadow: 10 10 10 10px rgba(255, 255, 255, 0);
                  -webkit-transform: scale(0.9);
              }

            100% {
              transform: scale(1.5);
              box-shadow: 0 0 0 0 rgb(235, 0, 0);
                  -webkit-transform: scale(1);
            }
          }
          /* Animation for wave kind like flow wave without depth */
          @keyframes flowWaves {
            0% {
              background-position: 0% 50%;
              background-size: 200% 200%;
            }
            50% {
              background-position: 100% 50%;
              background-size: 150% 150%;

            }
            100% {
              background-position: 0% 50%;
              background-size: 200% 200%;

            }
          }
          /* Animation for wave kind like flow wave with depth   */
          @keyframes flowWavesDepth {
            0% {
              background-position: 0% 50%;
              background-size: 200% 200%;

            }
            50% {
              background-position: 100% 50%;
              background-size: 180% 180%;

            }
            100% {
              background-position: 0% 50%;
              background-size: 200% 200%;
            }
          }  
          /* Animation for glowing bordered color */
          @keyframes glowBorder {
            0% {
                border-color: rgb(135, 0, 0);
                box-shadow: 0 0 0 0 rgb(0, 0, 0);
            }
            100% {
                border-color: rgb(156, 67, 67);
                box-shadow: 0 0 0 10px rgb(190, 73, 73);
            }
          }
          /* Animation for glowing color */
          @keyframes glowing {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% {background-position: 0% 50%; }
          }
          /* Animation for pulsating colored border box or for image or shapes */
          @keyframes pulse {
            0% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
                /* Add webkit prefix for older iOS devices */
                -webkit-transform: scale(0.95); 
            }

            50% {
                transform: scale(1.5);
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
                -webkit-transform: scale(1);
            }

            100% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transform: scale(0.95);
            }
          }
          /* Animation for changing colors */
          @keyframes colors{
            0% {
                filter: hue-rotate(0deg);

            }
            75% {
                filter: hue-rotate(180deg);

            }

            100% {
                filter: hue-rotate(360deg);
            }
          }
          @keyframes glowing  {
            0% { background-position: 0% 30%; }
            50% { background-position: 65% 25%; }
            100% { background-position: 3% 50%; }
          }
          .glowing-background {
            border-radius: 20px;
            background: linear-gradient(20deg, #ffffff 32%, #3a2c00b0 70%, #ffffff 85%);
            background-size: 300% 350%;
            transition: box-shadow 1s ease-in-out;
            animation: glowing 10s ease-in-out infinite;
          }
          .glowing-background:hover {
            box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
          }
        
          .search-bar input[type="text"] {
            border: 3px outset rgb(0, 0, 0);
            background-color: whitesmoke;
            border-radius: 25px;
            /* Adjust input field width */
            width: 300px;
            padding: 10px;
            outline: none;
            }
          .search-bar {
            left: 80px;
            top: 145px;
            width: 300px;
            position: relative;
            }    
          #introducere-text-bara-de-cautare-principala {
            width: 380px;
            padding-bottom: 2px;
            }
          #submit-cauta-bara-de-cautare {
            padding: 20px 20px;
            color: rgb(255, 255, 255);
            border: 2px outset;
            border-radius: 30px;
            text-align: unset;
            justify-content: center;
            background:rgba(0, 0, 0, 0.19);
            cursor: pointer;
            /* Adjust button width */
            max-width: 110px; /* Set maximum width if needed */
            height: 20px;
            }
          .search-container {
            padding: 1px;
            color: rgb(0, 0, 0);
            background-color: rgb(0, 23, 137);
            border: outset;
            border-width: 0.5vw 0.5vw;
            border-color: rgb(68, 162, 255);
            border-radius: 30px;
            left: 135px;
            transform: translateY(-300%);
            top: 190px;
            margin-top: 0px;
            margin-bottom: 20px;
            display: inline-block;
            position: absolute;
            margin: 0px;
            }
          .search-button {
            padding: 2px 4px;
            color: rgb(255, 255, 255);
            border: 2px outset;
            border-radius: 30px;
            background: repeating-linear-gradient(21deg, rgb(0, 0, 255) 75%, rgb(0, 0, 0) 80%, rgb(163, 0, 0) 50%);
            cursor: pointer;
            width: 200px;
            max-width: 100px;
            height: 40px;
            }
            
            .menu-container {
                position: absolute;
                background: #598e9de6;
                border-radius: 30px;
                top: 50px;
                left: -400px; /* initially hide the menu */
                width: 390px; /* adjusted width */
                height: 450px; /* adjusted height */
                transition: left 0.3s ease; /* smooth transition when showing/hiding */
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* optional: add shadow for depth */
                z-index: 9999; /* ensure menu appears above other elements */
              }
              .arrow-icon {
                width: 100px;
                position: relative;
                top: 100px;
                padding-bottom: 100px;
                left: 0;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 20px;
                /* adjust background color as needed */
                background-color: #598e9d; 
                padding: 10px;
                /* adjust border radius as needed */
                border-radius: 25px 25px 25px 25px; 
                /* optional: add shadow for depth */
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
                /* ensure arrow appears above other elements */
                z-index: 9999; 
              }
              .arrow-icon:hover {
                /* adjust hover background color as needed */
                background-color: #d86d6d;
                border-radius: 20px; 
              }
              @keyframes flowWaves {
                  0% {
                    background-position: 0% 50%;
                    background-size: 200% 200%;
                  }
                  50% {
                    background-position: 100% 50%;
                    background-size: 150% 150%;
    
                  }
                  100% {
                    background-position: 0% 50%;
                    background-size: 200% 200%;
    
                  }
                }
                .close-btn {
                    position: relative;
                    top: -45px;
                    left: 330px;
                    padding: 10px;
                    transform: translateY(50px);
                    border: 1px solid black;
                    width: 30px;
                    height: 50px;
                    border-radius: 30px;
                    cursor: pointer;
                    font-size: 18px;
                    background-color: #6a67ff6b; /* adjust background color as needed */
                 }
                 .sidenav {
                    height: 180px;
                    width: 220px;
                    position: fixed;
                    z-index: 1;
                    top: 140px;
                    padding-block: 100px;
                    left: 0;
                    background: linear-gradient(to top left, #42a5e9 0%, rgb(239 84 84 / 63%) 100%);
                    overflow-x: hidden;
                    padding-top: 60px;
                    transition: 0.5s;
                    max-width: 300px;
                    max-height: 400px;
                    border-radius: 30px;
                    border: 2px white solid;
                    transition: 0.5s;
                  }
                  .sidenav a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: double;
                    border-radius: 30px;
                    font-size: 12px;
                    color: #818181;
                    background-color: #c7c400;
                    display: block;
                    transition: 0.3s;
                    width: 220px;
                    margin-top: 10px;
                  }
                  /* The side navigation menu */
                  /* The navigation menu links */
                  /* When you mouse over the navigation links, change their color */
                  .sidenav a:hover {
                    color: #f1f1f1;
                    border: 1px groove white;
                    border-radius: 30px;
                    border-inline: 3px 2px 2px 2px;
                    animation: pulse 4s, infinite alternate-reverse;
                  }
                    /* Highlight the current link */
                  .sidenav a.active {
                    background-color: #04aa6d;
                    color: white;
                  }
                  /* Position and style the close button (top right corner) */
                  .sidenav .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                    position: absolute;
                    background: rgb(66, 76, 104);
                    margin-bottom: 4px;
                    width: 50px;
                  }
                  /* When you mouse over the navigation links, change their color */
                  /* Highlight the current link */
                  /* Position and style the close button (top right corner) */
                  /* Close button style */
                  .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                    cursor: pointer;
                    color: white;
                  }
                  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
                  #main {
                    transition: margin-left .5s;
                    padding: 20px;
                  }
                  /* The sidenav */
                  /* Page content */
                  .main {
                    margin-left: 200px; /* Same as the width of the sidenav */
                  }
                  .openTriangle {
                    position: relative;
                    bottom: 199px;
                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    /* Left side of the triangle */
                    border-left: 25px solid transparent;
                    /* Right side of the triangle */
                    border-right: 25px solid transparent;
                    /* Bottom side of the triangle */
                    border-bottom: 43.3px groove rgb(255, 255, 255);
                    /* Change cursor on hover */
                    cursor: pointer;
                  }
                  /* Style for the text "open" */
                  .openText {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 14px;
                    color: black;
                  }
                  .dropdown-content_meniu_1si2 {
                    border: 2px;
                    align-content: center;
                    border-style: solid;
                    border-color: rgb(126, 126, 126);
                    border-radius: 25px;
                    position: sticky;
                    padding: 20px;
                    width: auto;
                    height: 600px;
                    flex-direction: row;
                    display: block;
                    background: linear-gradient(to top left, rgb(206, 155, 155) 30%, rgb(248, 251, 91) 100%);
                  }
                  .navbar {
                    overflow: hidden;
                    background-color: #333;
                    font-family: Arial;
                  }
                  /* Links inside the navbar */
                  .navbar a {
                    float: left;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                  }
                  @media only screen and(min-width:412px) and (min-height:915px) and (orientation:landscape) {
                    #bordered_rectangle-for-design {
                      border: 2px solid #000000;
                      border-style: solid;
                      border-radius: 20px;
                      margin: 0px;
                      left: 36px;
                      padding-top: 70px;
                      height: 550px;
                      width: 340px;
                      box-sizing: border-box;
                      position: sticky;
                      display: inline-block;
                      justify-content: right;
                      list-style: none;
                      background: linear-gradient(to top right, #fefefe 35%, #fbbd66 55%, #54333354 80%);
                    }

    #Acasa_menu_container {
        border: 1px; 
        border-color:#ffffff;
        border-width: 1px;
        border-style: groove;
        border-radius: 20px;
        /* box-sizing:content-box; */
        /* box-shadow: wheat; */
        width: auto;
        /* margin: 50px; */
        list-style-type: none;
        position: relative;
        display:inline-block;
        margin-left: auto;
        margin-right: 300px;
        background:linear-gradient(35deg, #ffffff 27%, rgb(255, 229, 59)66%, rgb(255, 255, 255) 75%);
        animation: flowWaves 4s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;
        /* background-size: 200% 200%; */
    }
    #meniu_ordered_1 {
        list-style-type: none;
        text-align: center;
        border: 1px solid rgb(255 255 255);
        border-radius: 20px;
        border-style:solid;
        box-sizing:border-box;
        position: sticky;
        display: block;
    }
    #continut_acasa_dropdown{
        border-radius: 15px;
        padding-top: 10px;
        justify-items: center;
        text-align: center;
        font-display: auto;
        border-color: rgb(255, 255, 255);
    }
    .menu-container_acasa .menu-ordered_list_1 {
        list-style-type: none;
        text-align: center;
        border-style:solid;
        position: sticky;
        box-sizing:border-box;
    }
    .menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
        list-style-type: none;
        text-align: center;
        /* margin-right: 10px; */
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 1px #000000;
        border-style: solid;
        border-radius: 30px;
        /* display: flexbox; */
        position: absolute;
        /* margin-top: 20px; */
        min-width: 265px;
        box-shadow: 2px 2px 16px 2px rgb(255, 255, 255);
        z-index: 1;
        display: none;
    }
    .menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
        display: block;
        text-align: center;
        /* inline-size: 2px; */
        border: 1px #000000 solid;
        background-color: white;
        list-style-type: none;
        margin-top: 80px;
        display: block;
        text-align: center;
        inline-size: 2px;
        border: 1px #000000 solid;
        list-style-type: none;
        margin-top: auto;
    }
    .li_continut_1_tip_lista {
        border-top-width: 1px;
        padding: 1px;
        background-color: rgb(213 163 143);
        border: 1px rgb(0, 0, 0);
        border-radius: 30px;
        border-top: rgb(0, 0, 0) outset;
        border-bottom: rgb(0, 0, 0) outset;
        border-right: rgb(0, 0, 0) outset;
        border-left: rgb(0, 0, 0) outset;
        /* margin-bottom: 10px; */
        align-content: center;
        margin-left: 10px;
        margin-right: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
        height: 40px;
        font:menu;
    }
    .li_continut_2_tip_lista {
        background-color: rgb(202 136 136);
        padding: 1px;
        border: 1px black;
        border-radius: 30px;
        border-top: rgb(0, 0, 0), outset;
        border-bottom: rgb(0, 0, 0) outset;
        border-right: rgb(255, 255, 255) outset;
        border-left: rgb(255, 255, 255) outset;
        margin-left: 10px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-content: center;
        height: 40px;
        font:menu;
    }
    .li_continut_3_tip_lista {
        background-color: rgb(213, 143, 143);
        padding: 1px;
        border: 1px black;
        border-radius: 30px;
        border-top: rgb(0, 0, 0) outset;
        border-bottom: rgb(0, 0, 0) outset;
        border-right: rgb(0, 0, 0) outset;
        border-left: rgb(0, 0, 0) outset;
        margin-left: 10px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-content: center;
        height: 40px;
        font:menu;
    }
}
        