@media only screen and (min-width:412px) and (min-height:912px) and (orientation:landscape) {
    .bordered-rectangle_for_the_first_3_categories_Acasa_Categorii_Produse_Produse_de_top {
        border: 2px solid #000000;
        border-style: solid;
        border-radius: 20px;
        margin: 50px;
        padding-top: 70px;
        height: 1000px;
        width: auto;
        box-sizing: border-box;
        position:sticky; 
        display:inline-block;
        justify-content: right;
        list-style: none;
        background-color: rgb(0, 0, 0);
    }
}