body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #8e8e8e;
}

.container {
    max-width: 350px;
    margin: 50px auto;
    background: linear-gradient(to top right, white, #6a6a6a);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    background: #ccc;
    border-radius: 30px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    padding: 20px;
    background: lightskyblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    animation: fadeInOut 2s ease-in-out;
}