.h2 {
    text-decoration: dotted;
    font: optional;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid chocolate;
}
.container-produse_vandute_de_top_1 {
    background-color: steelblue;
    border-right: 1px;
    border-right-width: 6px;
    border-left: 1px;
    border-left-width: 6px;
    border-bottom: 2px;
    border-top: 2px;
    padding-left: 0px;
    border-style: outset;
    /* display: block; */
    border-radius: 10px;
    margin-top: 10px;
    width: 400px;
    margin-left: -7px;
    margin-right: 3px;
    right: 0px;
    /* margin-top: 285px; */
    margin-bottom: 30px;
    border-color: rgb(34, 60, 84);
    position: sticky;
    /* display: flex; */
    box-sizing: border-box;
    /* width: 1850px; */
    /* height: max-content; */
}
#container-imagine-dreapta {
    background-color: rgb(65, 65, 67);
    border-left: 1px;
    padding: 20px;
    margin-left: 20px;
    border-bottom: 2px;
    border-top: 1px;
    border-style: outset;
    border-radius: 35px;
    border-color: rgb(0, 0, 0);
    border-right: 1px;
    margin-top: 10px;
    width: auto;
    margin-bottom: 10px;
    /* border-color: rgb(0, 132, 255); */
    position:sticky;
    /* display:flex; */
    box-sizing:border-box;
    width: 386px;
    margin-left: -219px;
    margin-right: 16px;
    /* height: max-content; */
    /* align-items: center; */
}
#container-imagine-centru {
    background-color: rgb(65, 65, 67);
    border-left: 1px;
    border-bottom: 2px;
    border-top: 1px;
    border-style: outset;
    border-radius: 35px;
    border-color: rgb(0, 0, 0);
    border-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-color: rgb(0, 132, 255); */
    position: sticky;
    /* display: flex; */
    box-sizing: border-box;
    width: 386px;
    margin-left: -215px;
    margin-right: 5px;
    /* height: max-content; */
}
#container-imagine-stanga {
    width: auto;
    padding: 20px;
    background-color: rgb(65, 65, 67);
    border-left: 1px;
    border-bottom: 2px;
    border-top: 1px;
    border-style: outset;
    border-radius: 35px;
    border-color: rgb(0, 0, 0);
    border-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-color: rgb(0, 132, 255); */
    position: sticky;
    /* display: flex; */
    box-sizing: border-box;
    width: 386px;
    padding: 20px;
    margin-right: 1px;
    margin-left: -219px;
    text-wrap: stable;
    /* height: max-content; */
    /* align-items: center; */
}