.dropdown-content_meniu_1si2 {
    margin-top: 69px;
    border: 2px;
    align-content: center;
    border-style: solid;
    border-color: rgb(126, 126, 126);
    border-radius: 25px;
    position: sticky;
    padding: 20px;
    width: 310px;
    height: 700px;
    flex-direction: row;
    display: block;
    background: linear-gradient(to top left, rgb(206, 155, 155) 30%, rgb(248, 251, 91) 100%);
}