.dropdown-content_meniu_1si2 {
    border: 2px;
    align-content: center;
    border-style: solid;
    border-color: black;
    border-spacing: 10px;
    position: relative;
    padding: 20px;
    background: local;
    background-color: rgb(198, 184, 184);
    /* margin-left: 20px; */
}