.menu-container_categories {
    border: 1px #000000;
    border-width: 4px;
    border-style:double;
    border-radius: 40px;
    box-sizing:content-box;
    width: 300px;
    list-style-type: none;
    position: sticky;
    flex: 1;
    /* float: inline-start; */
    display:inline-block;
    /* padding-right: 100px; */
}
#Menu_Categories {
    border: 1px; 
    border-color:#ffffff;
    border-width: 1px;
    border-style: groove;
    border-radius: 20px;
    box-sizing:content-box;
    /* box-shadow: wheat; */
    width: 680px;
    list-style-type: none;
    position: sticky;
    display:inline-block;
    flex: 1;
}
.menu-container_categories .menu-ordered_list_2 {
    list-style-type: none;
    text-align: center;
    border: 1px #ffffff;
    border-radius: 20px;
    border-style:solid;
    box-sizing:unset;
    position: static;
    display: block;
}
.menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
    list-style-type: none;
    text-align: center;
    /* margin-right: 10px; */
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 20px;
    padding: 0px;
    border: 1px #ffffff;
    border-style: solid;
    background-color: rgb(141, 186, 255);
    border-radius: 20px;
    /* display: flexbox; */
    position: sticky;
    /* margin-top: 20px; */
    /* background-color:#ffffff; */
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgb(253, 149, 149);
    z-index: 1;
    display: none;
}
.menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
    display:block;
    text-align: center;
    inline-size: 2px;
    list-style: none;
    position: absolute;
    padding-top: 10px;
}
.ol .dropdown_content_ordered_list_2 {
    border: #000000;
    border-style: solid 2px;
}
.li_categoria_1_lista{
    border-top: #ffffff outset;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom: #ffffff outset;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-right: #ffffff outset;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-left: #ffffff outset;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
}
.li_categoria_2_lista{
    border-top: #ffffff outset;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom: #ffffff outset;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-right: #ffffff outset;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-left: #ffffff outset;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
}
.li_categoria_3_lista{
    border-top: #ffffff outset;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom: #ffffff outset;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-right: #ffffff outset;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-left: #ffffff outset;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
}