/* Apple Devices  */
@media all and (min-width: 1284px) and (min-height:2778px) or 
            (min-width:2532px) and (min-height:1170px) or 
            (min-width:2532px) and (min-height:1170px) or
            (min-width:1792px) and (min-height:828px) or
            (min-width:828px) and (min-height:1792px) or 
            (min-width:1125px) and (min-height:2436px) or
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:2048px) and (min-height:2732px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:768px) and (min-height:1024px)
			{
                .menu-container_categories {
                    border: 1px #000000;
                    border-width: 4px;
                    border-style:solid;
                    border-radius: 40px;
                    box-sizing:content-box;
                    width: 400px;
                    margin: 20px;
                    list-style-type: none;
                    position: sticky;
                    flex: 1;
                    margin-bottom: 80px;
                    /* float: inline-start; */
                    display:inline-block;
                    /* padding-right: 100px; */
                }
                .menu-container_categories .menu-ordered_list_2 {
                    list-style-type: none;
                    text-align: center;
                    border: 1px #001aff;
                    border-radius: 20px;
                    border-style:solid;
                    box-sizing:unset;
                    position: static;
                    display: block;
                }
                .menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
                    list-style-type: none;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 0px;
                    padding: 0px;
                    border: 1px #000000;
                    border-style: solid;
                    border-radius: 0px;
                    /* display: flexbox; */
                    position: sticky;
                    /* margin-top: 20px; */
                    background-color:#ffffff;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    display: none;
                }
                .menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
                    display:block;
                    text-align: center;
                    inline-size: 2px;
                    list-style: none;
                    position: absolute;
                    padding-top: 10px;
                }
                .ol .dropdown_content_ordered_list_2 {
                    border: #000000;
                    border-style: solid 2px;
                    padding-top: 10px;
                }
                .li_categoria_1_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                .li_categoria_2_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                .li_categoria_3_lista{
                    border-top: #0011ff inset;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff inset;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff inset;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff inset;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
				
}
.menu-container_categories {
    border: 1px #000000;
    border-width: 4px;
    border-style:solid;
    border-radius: 40px;
    box-sizing:content-box;
    width: 400px;
    margin: 20px;
    list-style-type: none;
    position: sticky;
    flex: 1;
    margin-bottom: 80px;
    /* float: inline-start; */
    display:inline-block;
    /* padding-right: 100px; */
}
.menu-container_categories .menu-ordered_list_2 {
    list-style-type: none;
    text-align: center;
    border: 1px #001aff;
    border-radius: 20px;
    border-style:solid;
    box-sizing:unset;
    position: static;
    display: block;
}
.menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
    padding-top: 0px;
    padding: 0px;
    border: 1px #000000;
    border-style: solid;
    border-radius: 0px;
    /* display: flexbox; */
    position: sticky;
    /* margin-top: 20px; */
    background-color:#ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}
.menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
    display:block;
    text-align: center;
    inline-size: 2px;
    list-style: none;
    position: absolute;
    padding-top: 10px;
}
.ol .dropdown_content_ordered_list_2 {
    border: #000000;
    border-style: solid 2px;
    padding-top: 10px;
}
.li_categoria_1_lista{
    border-top: #0011ff solid;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom: #0011ff solid;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-right: #0011ff solid;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-left: #0011ff solid;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
}
.li_categoria_2_lista{
    border-top: #0011ff solid;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom: #0011ff solid;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-right: #0011ff solid;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-left: #0011ff solid;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
}
.li_categoria_3_lista{
    border-top: #0011ff inset;
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom: #0011ff inset;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-right: #0011ff inset;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-left: #0011ff inset;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
}

/* Android Devices  */
@media all and (min-width: 1440px) and (min-height:2560px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or
            (min-width:1080px) and (min-height:2160px) or
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px) or
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:1440px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px)
			{
                .menu-container_categories {
                    border: 1px #000000;
                    border-width: 4px;
                    border-style:solid;
                    border-radius: 40px;
                    box-sizing:content-box;
                    width: 400px;
                    margin: 20px;
                    list-style-type: none;
                    position: sticky;
                    flex: 1;
                    margin-bottom: 80px;
                    /* float: inline-start; */
                    display:inline-block;
                    /* padding-right: 100px; */
                }
                .menu-container_categories .menu-ordered_list_2 {
                    list-style-type: none;
                    text-align: center;
                    border: 1px #001aff;
                    border-radius: 20px;
                    border-style:solid;
                    box-sizing:unset;
                    position: static;
                    display: block;
                }
                .menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
                    list-style-type: none;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 0px;
                    padding: 0px;
                    border: 1px #000000;
                    border-style: solid;
                    border-radius: 0px;
                    /* display: flexbox; */
                    position: sticky;
                    /* margin-top: 20px; */
                    background-color:#ffffff;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    display: none;
                }
                .menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
                    display:block;
                    text-align: center;
                    inline-size: 2px;
                    list-style: none;
                    position: absolute;
                    padding-top: 10px;
                }
                .ol .dropdown_content_ordered_list_2 {
                    border: #000000;
                    border-style: solid 2px;
                    padding-top: 10px;
                }
                .li_categoria_1_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                .li_categoria_2_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                .li_categoria_3_lista{
                    border-top: #0011ff inset;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff inset;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff inset;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff inset;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
}

/*Tablets*/
@media all and (min-width: 1536px) and (min-height:2048px) or 
            (min-width:1200px) and (min-height:1920px) or 
            (min-width:800px) and (min-height:1280px) or
            (min-width:1700px) and (min-height:2560px)
			{
                .menu-container_categories {
                    border: 1px #000000;
                    border-width: 4px;
                    border-style:solid;
                    border-radius: 40px;
                    box-sizing:content-box;
                    width: 400px;
                    margin: 20px;
                    list-style-type: none;
                    position: sticky;
                    flex: 1;
                    margin-bottom: 80px;
                    /* float: inline-start; */
                    display:inline-block;
                    /* padding-right: 100px; */
                }
                .menu-container_categories .menu-ordered_list_2 {
                    list-style-type: none;
                    text-align: center;
                    border: 1px #001aff;
                    border-radius: 20px;
                    border-style:solid;
                    box-sizing:unset;
                    position: static;
                    display: block;
                }
                .menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
                    list-style-type: none;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 0px;
                    padding: 0px;
                    border: 1px #000000;
                    border-style: solid;
                    border-radius: 0px;
                    /* display: flexbox; */
                    position: sticky;
                    /* margin-top: 20px; */
                    background-color:#ffffff;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    display: none;
                }
                .menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
                    display:block;
                    text-align: center;
                    inline-size: 2px;
                    list-style: none;
                    position: absolute;
                    padding-top: 10px;
                }
                .ol .dropdown_content_ordered_list_2 {
                    border: #000000;
                    border-style: solid 2px;
                    padding-top: 10px;
                }
                .li_categoria_1_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                .li_categoria_2_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                .li_categoria_3_lista{
                    border-top: #0011ff inset;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff inset;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff inset;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff inset;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
				
}

