.menu-container_acasa {
    border-radius: 40px;
    box-sizing:content-box;
    /* margin: 20px; */
    list-style-type: none;
    position: sticky;
    display:inline-block;
    flex: 1;
    /* margin-bottom: 80px; */
}

/* Style for the container #Acasa_menu_container  */
#Acasa_menu_container {
    border: 1px; 
    border-color:#ffffff;
    border-width: 1px;
    border-style: groove;
    border-radius: 20px;
    /* box-sizing:content-box; */
    /* box-shadow: wheat; */
    width: 500px;
    /* margin: 50px; */
    list-style-type: none;
    position: sticky;
    display:inline-block;
    /* margin-bottom: 20px; */
}

#meniu_ordered_1 {
    list-style-type: none;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    border-style:solid;
    box-sizing:border-box;
    position: sticky;
    display: block;
}

#continut_acasa_dropdown{
    border-radius: 15px;
    padding-top: 2px;
    justify-items: center;
    text-align: center;
    font-display: auto;
    border-color: rgb(255, 255, 255);
}

.menu-container_acasa .menu-ordered_list_1 {
    list-style-type: none;
    text-align: center;
    border-style:solid;
    position: sticky;
    box-sizing:border-box;
}
.menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
    list-style-type: none;
    text-align: center;
    /* margin-right: 10px; */
    padding-top: 0px;
    margin-left: 30px;
    margin-right: 20px;
    border: 1px #000000;
    background-color: rgb(141, 186, 255);
    border-style: solid;
    border-radius: 0px;
    /* display: flexbox; */
    position: absolute;
    margin-top: 20px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgb(253, 149, 149);
    z-index: 1;
    display: none;
}


#continut_acasa_dropdown{
    background: white;


}

.menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
    display:block;
    text-align: center;
    /* inline-size: 2px; */
    border: 1px #000000 solid;
    background-color: rgb(141, 186, 255);
    list-style-type: none;
    margin-top: 0px;
}

.li_continut_1_tip_lista{
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-top: rgb(255, 255, 255) groove;
    border-bottom: rgb(255, 255, 255) groove;
    border-right: rgb(255, 255, 255) groove;
    border-left: rgb(255, 255, 255) groove;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
    align-content: center;
    margin-left: 0px;
}

.li_continut_2_tip_lista {
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-top: rgb(255, 255, 255) groove;
    border-bottom: rgb(255, 255, 255) groove;
    border-right: rgb(255, 255, 255) groove;
    border-left: rgb(255, 255, 255) groove;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
    align-content: center;
}

.li_continut_3_tip_lista{
    border-top-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-right-radius: 10px;
    border-top: rgb(255, 255, 255) groove;
    border-bottom: rgb(255, 255, 255) groove;
    border-right: rgb(255, 255, 255) groove;
    border-left: rgb(255, 255, 255) groove;
    border-top-left-radius: 10px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    margin-bottom: 10px;
    align-content: center;
}