/* Style for meniu container produse de top */
#menu_produse_top {
    border: 1px #ffffff;
    border-width: 1px;
    border-style: groove;
    border-radius: 20px;
    box-sizing:content-box;
    width: 400px;
    margin: 0px;
    list-style-type: none;
    position: sticky;
    display:inline-block;
    background:linear-gradient(35deg, #ffffff 27%, rgb(1, 112, 168)66%, rgb(255, 255, 255) 75%);
    animation: flowWaves 4s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;
    flex: 1;
    margin-bottom: 0px;
}
/* Style for the main menu item */
.menu_container_produse_de_top .menu_container_1_produse_de_top {
    list-style-type: none;
    text-align: center;
    /* border: 1px solid #0011a7; */
    /* border-style:solid; */
    /* border-radius: 10px; */
    box-sizing:border-box;
    position: sticky;
    display: block;
}
/* Style for the dropdown content container */
.menu-container_2_ordered_list .dropdown-continut_lista_1 .a {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    
}
.dropdown-content_imagini_2 {
    max-width: 100%;
    height: auto;
    list-style-type: none;
    border: 2px;
}
.dropdown-content_imagini_3 {
    max-width: 100%;
    height: auto;
    list-style-type: none;
    border: 2px;
}
ol {
    border-radius: 10px;
    list-style-type: none;
    border-width: 100px;
}
#continut-lista-dropdown{
    width: auto;
    height: auto;
}