.h1{
    text-align: center;
    text-decoration-color: rgb(255, 255, 255); 
    border-top: 3px; 
    border-bottom: 3px; 
    border-left: 3px; 
    border-right: 3px; 
    border-style: outset; 
    border-color: burlywood; 
    border-top-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    /* border-inline-color: green; */
}
.table{
    margin-left: 200px;
    position: sticky;
}

.Continut1tiplista {
    background-color: rgb(109, 81, 44);
}
#Produs_11_design{
    position: sticky;
    margin-left: 2000px;
    /* float: right; */
    /* margin: auto; */
    /* padding: auto; */
}