@media screen and (max-width: 300px){
    .box-model {
        position: relative;
        box-sizing: border-box;
        width: 450px;
        border: 10px solid rgb(0, 0, 0);
        border-radius: 20px;
        margin-left: 23%;
        top: 50%;
        left: 10%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
}