#container_imagine-dropdown-1 {
    margin-right: 0px;
    width: 300px;
    background-color: antiquewhite;
    padding: 0px;
    border: 2px solid black;
}
#container_imagine-dropdown-2 {
    margin-right: 0px;
    width: 300px;
    position: relative;
    left: 370px;
    bottom: 250px;
    background-color: antiquewhite;
    padding: 0px;
    border: 2px solid black;
}
#container_imagine-dropdown-3 {
    margin-right: auto;
    background-color: antiquewhite;
    position: relative;
    left: 740px;
    bottom: 499px;
    padding: 0px;
    width: 300px;
    border: 2px solid black;

}
