@media screen and (max-width: 415px) and (max-height: 912px) {
    #container_imagine-dropdown-1 {
        display: table;
        top: 30px;
        margin-right: 0px;
        width: 100px;
        border-radius: 30px;
        background: linear-gradient(20deg, rgb(255, 255, 255) 21%, #d08132)61%, #ffffff 95%;
        padding: 0px;
        left: 20px;
        position: relative;
        border: 2px solid black;
        border-radius: 30px;
    }
    
}
#container_imagine-dropdown-1 {
    display: table;
    margin-right: 0px;
    top: 30px;
    width: 100px;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(255, 255, 255) 21%, #d08132)61%, #ffffff 95%;
    padding: 0px;
    right: 55px;
    position: relative;
    border: 2px solid black;
    border-radius: 30px;
}
@media screen and (max-width: 415px) and (max-height: 912px) {
    #container_imagine-dropdown-2 {
        display: table;
        margin-right: 0px;
        width: 100px;
        position: relative;
        left: 65px;
        bottom: 680px;
        border-radius: 30px;
        background: linear-gradient(20deg, rgb(255, 255, 255) 21%, #d08132)61%, #ffffff 95%;
        padding: 0px;
        border: 2px solid black;
        border-radius: 30px;
    }
}
#container_imagine-dropdown-2 {
    display: table;
    margin-right: 0px;
    width: 100px;
    position: relative;
    left: 65px;
    bottom: 680px;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(255, 255, 255) 21%, #d08132)61%, #ffffff 95%;
    padding: 0px;
    border: 2px solid black;
    border-radius: 30px;
}
@media screen and (max-width: 415px) and (max-height: 912px) {
    #container_imagine-dropdown-3 {
        display: table;
        margin-right: auto;
        border-radius: 30px;
        background: linear-gradient(20deg, rgb(255, 255, 255) 21%, #d08132)61%, #ffffff 95%;
        position: relative;
        left: 200px;
        bottom: 1355px;
        padding: 0px;
        width: 100px;
        border: 2px solid black;
        border-radius: 30px;
    }
}
#container_imagine-dropdown-3 {
    display: table;
    margin-right: auto;
    border-radius: 30px;
    background: linear-gradient(20deg, rgb(255, 255, 255) 21%, #d08132)61%, #ffffff 95%;
    position: relative;
    left: 200px;
    bottom: 1355px;
    padding: 0px;
    width: 100px;
    border: 2px solid black;
    border-radius: 30px;
}
