# Ignoring the entire directory of .vscode information
# Ignoring the entire file configuration settings of package.json
U:\Plan_Afacere\WebSite\server\.env
U:\Plan_Afacere\WebSite\server\db.js
U:\Plan_Afacere\WebSite\server.js
U:\Plan_Afacere\WebSite\.env
U:\Plan_Afacere\WebSite\.gitmodules
# Ignoring all the filepaths:

