.search-bar {
    padding: 4px 10px;
    background-color: #c2b56e;
    color: rgb(78, 24, 24);
    border: solid;
    border-width: 3px;
    border-radius: 20px;
    cursor: pointer;
    display:flex;
    /* margin-right: 30px; */
    /* margin: left 10px; */
    width: auto;
}
.search-bar .button {
    padding-left: 10px;
    border: wheat;
    width: auto;
    border-radius: 0px;
}
.search-bar input {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 20px;
    padding: 5px 10px;
    outline: none;
    margin-right: 30px;
    margin-right: 30px;
}
.search-bar #introducere-text {
    width: 100px;
}
.search-bar #submit-cauta {
    padding: 2px 4px; /* Adjust padding as needed */
    background-color: #c2b56e;
    color: rgb(78, 24, 24);
    border:solid;
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    width: 80px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}