.bordered-rectangle_for_the_first_3_categories_Acasa_Categorii_Produse_Produse_de_top {
    border: 2px solid #000000;
    border-style: solid;
    border-radius: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-right: auto;
    padding-bottom: auto;
    height: 600px;
    width: 600px;
    text-align: center;
    box-sizing: border-box;
    position:fixed; 
    display:table;
    justify-content: left;
    list-style: none;
}
