form {
    border: 1px solid #c58e8e;
    border-radius: 20px;
    background-color: rgba(145, 81, 30, 0.8); /* Adjust opacity here */
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* Add shadow */
    display: block;
    margin-bottom: 100px;
}

/* Adjust the form container padding and margin-top */
.container #form-container-1 {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

/* Reduce the width of input fields */
input[id="uname"], input[type=password] {
    width: 150px;
    padding: 10px 15px;
    margin: 5px 0;
    border: 2px solid #772727;
    border-radius: 20px;
}

/* Adjust the button styles */
.container .button #submit-button-form {
    background-color: #000000;
    border-radius: 20px;
    padding: 0px 0px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

/* Adjust the cancel button */
.cancelbtn {
    padding: 5px 10px;
    background-color: #886b41;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    scroll-padding-top: 20px;
}
/* Adjust the avatar image size */
.imgcontainer {
    width: 50px;
    text-align: center;
    margin-top: 4px;
    margin-right: 14px;
}

/* Adjust the avatar image size */
.Avatar.img {
    width: 25px; /* Set the width as needed */
    height: 22px; /* Set the height as needed */
}

/* Center the avatar image */
.avatar-img {
    position: relative;
    top: 0px;
    left: 10px;
    height: 25px;
    width: 25px;
}

/* Add padding to containers */
.container {
    padding: 10px;
}
/* Adjust the "Forgot password" text position */
span.psw {
    float: right;
    padding-top: 5px;
}
