.menu-container_categories {
    display:block;
    border: 1px #000000;
    border-width: 3px;
    border-style: double;
    border-radius: 0px;
    box-sizing:content-box;
    width: 45%;
    margin: 20px;
    list-style-type: none;
    position: sticky;
    flex: 1;
    margin-bottom: 80px;

}





.menu-container_categories .menu-ordered_list_2 {
    list-style-type: none;
    text-align: center;
    border: 1px #000000;
    border-style:inset;
    border-color: blue;
    border-radius: 0px;
    box-sizing:unset;
    position: relative;
    display: block;
}




.menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
    padding: 0px;
    border: 1px #000000;
    border-style: solid;
    border-radius: 0px;
    /* display: flexbox; */
    position: absolute;
    margin-top: 20px;
    background-color:#a3a074;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}




.menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
    display:block;
    text-align: center;
    inline-size: auto;
    list-style: none;
    position: absolute;
}