.menu-container_acasa {
    display:block;
    border: 1px #000000;
    border-width: 3px;
    border-style: double;
    border-radius: 0px;
    box-sizing:content-box;
    width: 45%;
    margin: 20px;
    list-style-type: none;
    position: sticky;
    flex: 1;
    margin-bottom: 80px;
}




.menu-container_acasa .menu-ordered_list_1 {
    list-style-type: none;
    text-align: center;
    border: 1px solid #000000;
    border-style:inset;
    border-color: blue;
    border-radius: 0px;
    box-sizing:unset;
    position: relative;
    display: block;
}




.menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
    padding: 0px;
    border: 1px #000000;
    border-style: solid;
    border-radius: 0px;
    /* display: flexbox; */
    position: absolute;
    margin-top: 20px;
    background-color:#a3a074;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}



.menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
    display:block;
    text-align: center;
    inline-size: 2px;
    border: 2px #000000;
    list-style-type: none;
    margin-top: 20px;
}


.dropdown-content_ordered_list_categories{
    padding-top: 20px;
}