
@media screen and (max-width: 300){
    .box-model_produse_vandute_de_top_1 {
        /* align-items:start; */
        border: 2px;
        border-style: solid;
        display: block;
        max-width: fit-content;
        max-height: fit-content;
    }
    .box-model_produse_vandute_de_top_1{
        border: 2px;
        display: flow-root;
    }
}
@media screen and (max-width: 400){
    .box-model_produse_vandute_de_top_1 {
        /* align-items:start; */
        border: 2px;
        border-style: solid;
        display: block;
    }
}
@media screen and (max-width: 500){
    .box-model_produse_vandute_de_top_1 {
        /* align-items:start; */
        border: 2px;
        border-style: solid;
        display: block;
    }
}
@media screen and (max-width: 600){
    .box-model_produse_vandute_de_top_1 {
        /* align-items:start; */
        border: 2px;
        border-style: solid;
        display: block;
    }
}
@media screen and (max-width: 768){
    .box-model_produse_vandute_de_top_1 {
        /* align-items:start; */
        border: 2px;
        border-style: solid;
        display: block;
    }
}