.box-model_produse_vandute_de_top_1 {
    /* align-items:start; */
    border: 2px;
    border-style: solid;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 30px;
    background: linear-gradient(to top left, rgb(250, 250, 250) 25%, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 30%);
}