/* Apple Devices  */
@media all and (min-width: 1284px) and (min-height:2778px) or 
            (min-width:2532px) and (min-height:1170px) or 
            (min-width:2532px) and (min-height:1170px) or
            (min-width:1792px) and (min-height:828px) or
            (min-width:828px) and (min-height:1792px) or 
            (min-width:1125px) and (min-height:2436px) or
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:2048px) and (min-height:2732px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:768px) and (min-height:1024px)
			{
                .div .bordered-box_produse_vandute_de_top_1 .h3 {
                    position: sticky;
                    text-overflow: unset;
                    text-align: right;
                    border: 2px #d4a539 solid; 
                    border-width: 3px; 
                    margin-left: 100px; 
                    margin-right: 100px; 
                    background-color:rgb(226, 255, 39); 
                    border-top-right-radius: 10px; 
                    border-top-left-radius: 10px; 
                    border-bottom-left-radius: 10px; 
                    border-bottom-right-radius: 10px;
                }
				
}

/* Android Devices  */
@media all and (min-width: 1440px) and (min-height:2560px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or
            (min-width:1080px) and (min-height:2160px) or
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px) or
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:1440px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px)
			{
                .div .bordered-box_produse_vandute_de_top_1 .h3 {
                    position: sticky;
                    text-overflow: unset;
                    text-align: right;
                    border: 2px #d4a539 solid; 
                    border-width: 3px; 
                    margin-left: 100px; 
                    margin-right: 100px; 
                    background-color:rgb(226, 255, 39); 
                    border-top-right-radius: 10px; 
                    border-top-left-radius: 10px; 
                    border-bottom-left-radius: 10px; 
                    border-bottom-right-radius: 10px;
                }
}

/*Tablets*/
@media all and (min-width: 1536px) and (min-height:2048px) or 
            (min-width:1200px) and (min-height:1920px) or 
            (min-width:800px) and (min-height:1280px) or
            (min-width:1700px) and (min-height:2560px)
			{
                .div .bordered-box_produse_vandute_de_top_1 .h3 {
                    position: sticky;
                    text-overflow: unset;
                    text-align: right;
                    position: sticky; 
                    text-align: center; 
                    border: 2px #d4a539 solid; 
                    border-width: 3px; 
                    margin-left: 100px; 
                    margin-right: 100px; 
                    background-color:rgb(226, 255, 39); 
                    border-top-right-radius: 10px; 
                    border-top-left-radius: 10px; 
                    border-bottom-left-radius: 10px; 
                    border-bottom-right-radius: 10px;
                }
}

.div .bordered-box_produse_vandute_de_top_1 .h3 {
    position: sticky;
    text-overflow: unset;
    text-align: right;
    border: 2px #d4a539 solid; 
    border-width: 3px; 
    margin-left: 320px; 
    margin-right: 320px; 
    background-color:rgb(226, 255, 39); 
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}
.bordered-box_produse_vandute_de_top_1 {
    background-color: burlywood;
}
.h3 {
    position: sticky;
    text-overflow: unset;
    text-align: right;
    position: sticky; 
    text-align: center; 
    border: 2px #d4a539 solid; 
    border-width: 3px; 
    margin-left: 320px; 
    margin-right: 320px; 
    background-color:rgb(226, 255, 39); 
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}