<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://192.168.100.53:8081">

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/3054/3054889.png" type="icon/ico" style="width: auto; height: auto;">
    <!-- <link rel="stylesheet" href="http://192.168.100.53:8081/css/form.css" type="text/css" media="screen"> -->
    <style>
        @media only screen and (min-width:412px) and (min-height:915px) {
        /* Close button style */
        .close-btn {
            position: absolute;
            width: 51px;
            /* Adjusted position to the top */
            /* Adjusted position to the right */
            left: calc(100% - 80px); 
            /* Adjusted height */
            height: 31px; 
            border: 1px groove #00000042;
            border-radius: 30px;
            background-color: #4682b445;
            cursor: pointer;
            /* Ensure it appears above other elements */
            z-index: 9999; 
        }      
        /* Form container style */
        #Logheaza-teForm {
            position: relative;
            top: 250px;
            right: 0px;
            width: 180px;
            height: auto;
            /* Adjusted maximum width */
            /* Adjusted maximum height */
            max-height: 350px; 
            background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(112, 128, 144, 1), rgba(0, 0, 139, 1), rgb(151 255 105));
            border-radius: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: inline-block;
            padding: 20px;
            z-index: 9999;
        }
        /* Input box style */
        #Logheaza-teForm input[type="text"],
        #Logheaza-teForm input[type="password"] {
            width: 180px; /* Adjusted maximum width */
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 20px;
            background: linear-gradient(20deg, #7dadce94, #4cb6ffa8, #3995d359);
            box-shadow: 2px 2px 5px red, 4px 4px 5px blue, 6px 6px 5px white; /* Added box shadow with multiple colors */
        }

        /* Additional styling for labels and buttons */
        #Logheaza-teForm label {
            border-radius: 30px;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #3995d3cc; /* Adjusted background color */
        }

        #Logheaza-teForm button[type="submit"] {
            background-color: #875050;
            border-radius: 20px;
            padding: 15px 10px;
            margin-top: 20px;
            border: none;
            cursor: pointer;
            width: auto;
        }
    }
    </style>
  </head>



<body>
    <form action="/login" id="Logheaza-teForm" method="post" class="form-container" style="display: block; width: 180px; height: auto; position: absolute;">
        <!-- Close button -->
        <div class="close-btn" onclick="closeForm()">&times;</div>
        <div class="imgcontainer">
        <img src="https://cdn.pixabay.com/photo/2016/08/31/11/54/icon-1633249_1280.png" type="img" media="all" alt="Avatar" class="img" style="height: 31px; width: 31px;" loading="lazy">
        </div>
        <div class="container-pagina-logare" id="form-container-1" style="width: 190px; background-color: (55deg, #c4833e 35%,rgb(89, 161, 184)20%, #084f66) 80%;">
        <label for="uname" style="margin-top: 10px; margin-bottom: 10px; margin-left: 9px; width: 140px; height: 10px; border: 1px groove cadetblue; border-radius: 30px; font-family: system-ui; display: inline-block; text-align: left; box-sizing: border-box; box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4); width: auto; margin-top: 18px;">
            <b style="position: relative; bottom: 12px; margin-bottom: 3px; background: linear-gradient(20deg, #7dadce94 51%, #4cb6ffa8 33%, #3995d359 66%); border-radius: 15px; padding: 2px; font: -webkit-control; border: 1px solid; text-align: -webkit-center;">Nume Utilizator:</b>
        </label>
        <input type="text" placeholder="Username/ User" id="username" name="username" required>
            <label for="password">
            <b style="position: relative; background: linear-gradient(20deg, #7dadce94 51%, #4cb6ffa8 33%, #3995d359 66%); border-radius: 15px; padding: 5px; border: 1px solid;">Parola:</b>
            </label>
        <input type="password" id="password" accept="file" placeholder="Scrie Parola" name="password-user" required="true" style="max-width: 135px;margin-top: 20px;margin-bottom: 20px;position: relative;background: linear-gradient(20deg, #7dadce94 51%, #4cb6ffa8 33%, #3995d359 66%);border-radius: 15px;font: -webkit-control;padding: 5px;">
            <button type="submit" id="submit-button-form" style="background-color: #875050; border-radius: 20px; padding: 15px 10px; margin: 0px 0; border: none; cursor: pointer; width: auto;">Logheaza-te</button>
            <label for="password" style="position: sticky; margin-left: -6px; margin-top: 28px; display: ruby; border: 1px solid black; border-radius: 20px; background-color: antiquewhite; font-size: x-small; padding-top: 5px; text-align: left; margin-top: 10px;">
            <input type="checkbox" accept="file" checked="checked" name="remember" style="margin-top: 10px; margin-bottom: 10px; margin-left: 3p; width: 15px; height: 10px; border: 1px groove cadetblue; border-radius: 20px; font-family: system-ui;"> Memoreaza informatiile de conectare.
        </label>
        </div>

        <div class="container" id ="container_for_Cancel&Forgotten_Password" style="background-color: #a4dde3; border-radius: 9px; margin-bottom: 10; width: 169px; margin-left: 1px; padding: 5px; display: inline-block; cursor: pointer;">
        <button type="button" class="cancelbtn" style="border-radius: 10px; background-color: deepskyblue; margin-bottom: 1px; margin-top: 0px; margin-left: 30px;">Anuleaza</button>
            <span class="psw" style="font-size: x-small;">Ai uitat <a href="#Link">parola?</a></span>
        </div>
    </form>
    <script>
        document.getElementById('Logheaza-teForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password-user').value;
            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password }),
                });
    
                if (!response.ok) {
                    throw new Error('Failed to log in.');
                }
    
                const data = await response.json();
                if (!data.success) {
                    console.error(data.message);
                }
            } catch (error) {
                console.error(error.message);
            }
        });
    
    </script>
    
</body>