/* animations *//* animations *//* animations *//* animations *//* animations */
/* Apple Devices  */
@media all and (min-width: 1284px) and (min-height:2778px), 
            (min-width:2532px) and (min-height:1170px), 
            (min-width:2532px) and (min-height:1170px),
            (min-width:1792px) and (min-height:828px),
            (min-width:828px) and (min-height:1792px), 
            (min-width:1125px) and (min-height:2436px),
            (min-width:1080px) and (min-height:1920px), 
            (min-width:750px) and (min-height:1334px), 
            (min-width:640px) and (min-height:1136px), 
            (min-width:2048px) and (min-height:2732px), 
            (min-width:1536px) and (min-height:2048px), 
            (min-width:768px) and (min-height:1024px){
                h1::before {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    /* Color of the circle */
                    border: 15px solid #a9bbab; 
                    /* Make it a circle */
                    border-radius: 50%; 
                    position: sticky;
                    /* Adjust this value to position the circle inside the border */
                    left: 10px; 
                    /* Center vertically */
                    top: 50%; 
                    /* Adjust to vertically center the circle */
                    transform: translateY(-30%); 
                }
                h1::after {
                    /* Make it rounded */
                    border-radius: 10px; 
                    /* Empty content */
                    content: ""; 
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: sticky;
                    /* Adjust this value to position the box inside the border */
                    right: 10px; 
                    /* Distance from the top */
                    top: 10px; 
                    overflow: hidden;
                    /* Replace with your coffee image path */
                    background-image: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); 
                    /* Adjust background size as needed */
                    background-size: contain; 
                    /* Apply animation */
                    animation: pulse 2s infinite alternate;                }
                h1::after::before {
                    /* Empty content */
                    content: ""; 
                    display: flex;
                    width: 50px;
                    height: 50px;
                    /* Replace with your coffee image path */
                    background-image: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); 
                    /* Adjust background size as needed */
                    background-size: contain;
                    /* Apply animation */
                    animation: pulse 2s infinite alternate;
                }
                /* animations *//* animations *//* animations *//* animations *//* animations */
}

/* Android Devices  */
@media all and (min-width: 1440px) and (min-height:2560px), 
            (min-width:1080px) and (min-height:1920px), 
            (min-width:1440px) and (min-height:2960px),
            (min-width:1080px) and (min-height:2160px),
            (min-width:1440px) and (min-height:2960px), 
            (min-width:1440px) and (min-height:1440px), 
            (min-width:1440px) and (min-height:2560px) {
                h1::before {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    /* Color of the circle */
                    border: 15px solid #a9bbab; 
                    /* Make it a circle */
                    border-radius: 50%; 
                    position: sticky;
                    /* Adjust this value to position the circle inside the border */
                    left: 10px; 
                    /* Center vertically */
                    top: 50%; 
                    /* Adjust to vertically center the circle */
                    transform: translateY(-30%); 
                }
                h1::after {
                    /* Make it rounded */
                    border-radius: 10px; 
                    /* Empty content */
                    content: ""; 
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: sticky;
                    /* Adjust this value to position the box inside the border */
                    right: 10px; 
                    /* Distance from the top */
                    top: 10px; 
                    overflow: hidden;
                    /* Replace with your coffee image path */
                    background-image: url("https://i.pinimg.com/736x/a5/05/98/a50598fc45f510719de2cf9a4044ea51.jpg"); 
                    /* Adjust background size as needed */
                    background-size: contain; 
                    /* Apply animation */
                    /* animation: pulse 2s infinite alternate;                 */
                }
                h1::after::before {
                    /* Empty content */
                    content: ""; 
                    display: flex;
                    width: 50px;
                    height: 50px;
                    /* Replace with your coffee image path */
                    background-image: url("https://i.pinimg.com/736x/a5/05/98/a50598fc45f510719de2cf9a4044ea51.jpg"); 
                    /* Adjust background size as needed */
                    background-size: contain;
                    /* Apply animation */
                    /* animation: pulse 2s infinite alternate;                } */
}
h1::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    /* Color of the circle */
    border: 15px solid #a9bbab; 
    /* Make it a circle */
    border-radius: 50%; 
    position: sticky;
    /* Adjust this value to position the circle inside the border */
    left: 10px; 
    /* Center vertically */
    top: 50%; 
    /* Adjust to vertically center the circle */
    transform: translateY(-30%); 
}
h1::after {
    /* Make it rounded */
    border-radius: 10px; 
    /* Empty content */
    content: ""; 
    display: block;
    width: 50px;
    height: 50px;
    position: sticky;
    /* Adjust this value to position the box inside the border */
    right: 10px; 
    /* Distance from the top */
    top: 10px; 
    overflow: hidden;
    /* Replace with your coffee image path */
    background-image: url("https://i.pinimg.com/736x/a5/05/98/a50598fc45f510719de2cf9a4044ea51.jpg"); 
    /* Adjust background size as needed */
    background-size: contain; 
    /* Apply animation */
    /* animation: moveCoffee 4s linear infinite;  */
}
h1::after::before {
    /* Empty content */
    content: ""; 
    display: flex;
    width: 50px;
    height: 50px;
    /* Replace with your coffee image path */
    background-image: url("https://i.pinimg.com/736x/a5/05/98/a50598fc45f510719de2cf9a4044ea51.jpg"); 
    /* Adjust background size as needed */
    background-size: contain;
    /* Apply animation */
    /* animation: moveCoffee 4s linear infinite;  */
}
/* animations *//* animations *//* animations *//* animations *//* animations */

/*Tablets*/
@media all and (min-width: 1536px) and (min-height:2048px), 
            (min-width:1200px) and (min-height:1920px), 
            (min-width:800px) and (min-height:1280px),
            (min-width:1700px) and (min-height:2560px) 
            {
                h1::before {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    /* Color of the circle */
                    border: 15px solid #a9bbab; 
                    /* Make it a circle */
                    border-radius: 50%; 
                    position: sticky;
                    /* Adjust this value to position the circle inside the border */
                    left: 10px; 
                    /* Center vertically */
                    top: 50%; 
                    /* Adjust to vertically center the circle */
                    transform: translateY(-30%); 
                }
                h1::after {
                    /* Make it rounded */
                    border-radius: 10px; 
                    /* Empty content */
                    content: ""; 
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: sticky;
                    /* Adjust this value to position the box inside the border */
                    right: 10px; 
                    /* Distance from the top */
                    top: 10px; 
                    overflow: hidden;
                    /* Replace with your coffee image path */
                    background-image: url("https://i.pinimg.com/736x/a5/05/98/a50598fc45f510719de2cf9a4044ea51.jpg"); 
                    /* Adjust background size as needed */
                    background-size: contain; 
                    /* Apply animation */
                    animation: moveCoffee 4s linear infinite; 
                }
                h1::after::before {
                    /* Empty content */
                    content: ""; 
                    display: flex;
                    width: 50px;
                    height: 50px;
                    /* Replace with your coffee image path */
                    background-image: url("https://i.pinimg.com/736x/a5/05/98/a50598fc45f510719de2cf9a4044ea51.jpg"); 
                    /* Adjust background size as needed */
                    background-size: contain;
                    /* Apply animation */
                    animation: moveCoffee 4s linear infinite; 
                }
                /* animations *//* animations *//* animations *//* animations *//* animations */
}