/* Top left animation a simple circle  */
h1::before {
    /* display: flow-root; */
    /* width: 25px;
    height: 25px; */
    /* Color of the circle */
    /* border: 15px solid #c45858;  */
    /* Make it a circle */
    /* border-radius: 40px;  */
    /* float:left; */
    position: -webkit-sticky;
    /* position: -webkit-sticky; */
    /* position: -webkit-sticky; */
    /* Adjust this value to position the circle inside the border */
    /* right: 10px;  */
    /* Center vertically */
    /* top: 25px; */
    /* bottom: 10px; */
    /* Adjust to vertically center the circle */
    /* transform: translateY(-2%); */
    /* animation: pulse  4s infinite alternate; */
}
h1::after {
    /* Make it rounded */
    border-radius: 12px; 
    /* Empty content */
    content: ""; 
    position: sticky;
    display: flow-root;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 0px;
    /* position: sticky; */
    /* Adjust this value to position the box inside the border */
    /* right: 410px;  */
    /* Distance from the top */
    top: 70px; 
    /* overflow: auto; */
    background: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); /* Replace with your coffee image path */
    /* Adjust background size as needed */
    background-size:cover; 
    /* Apply animation */
    animation: pulse 4s linear infinite;
}
h1::after::before {
/* Empty content */
    content: ""; 
    display:inline;
    width: 20px;
    height: 20px;
    position: sticky;
    /* Replace with your coffee image path */
    background: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); 
    /* Adjust background size as needed */
    background-size: contain; 
    /* Apply animation */
    animation: pulse 2s infinite alternate;
}

/* Animation for pulsating */
@keyframes pulse {
	0% {
		transform: scale(0.85);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
        /* Add webkit prefix for older iOS devices */
        -webkit-transform: scale(0.85); 
	}

	70% {
		transform: scale(0.9);
		/* box-shadow: 10 10 10 10px rgba(255, 255, 255, 0); */
        -webkit-transform: scale(0.9);
    }

	100% {
		transform: scale(1.5);
		/* box-shadow: 0 0 0 0 rgb(235, 0, 0); */
        -webkit-transform: scale(1);
	}
}

/* Animation for wave kind like flow wave without depth */
@keyframes flowWaves {
    0% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 150% 150%;

    }
    100% {
      background-position: 0% 50%;
      background-size: 200% 200%;

    }
}

/* Animation for wave kind like flow wave with depth   */
@keyframes flowWavesDepth {
    0% {
      background-position: 0% 50%;
      background-size: 200% 200%;

    }
    50% {
      background-position: 100% 50%;
      background-size: 180% 180%;

    }
    100% {
      background-position: 0% 50%;
      background-size: 200% 200%;
    }
}  

/* Animation for glowing bordered color */
@keyframes glowBorder {
    0% {
        border-color: rgb(135, 0, 0);
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }
    100% {
        border-color: rgb(156, 67, 67);
        box-shadow: 0 0 0 10px rgb(190, 73, 73);
    }
}


/* Animation for glowing color */
@keyframes glowing {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}


/* Animation for pulsating colored border box or for image or shapes */
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        /* Add webkit prefix for older iOS devices */
        -webkit-transform: scale(0.95); 
    }

    50% {
        transform: scale(1.5);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        -webkit-transform: scale(1);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -webkit-transform: scale(0.95);
    }
}


/* Animation for changing colors */
@keyframes colors{
    0% {
        filter: hue-rotate(0deg);

    }
    75% {
        filter: hue-rotate(180deg);

    }

    100% {
        filter: hue-rotate(360deg);
    }
}