/* Apple Devices  */
@media all and (min-width: 1284px) and (min-height:2778px) or 
            (min-width:2532px) and (min-height:1170px) or 
            (min-width:2532px) and (min-height:1170px) or
            (min-width:1792px) and (min-height:828px) or
            (min-width:828px) and (min-height:1792px) or 
            (min-width:1125px) and (min-height:2436px) or
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:2048px) and (min-height:2732px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:768px) and (min-height:1024px)
			{
                form {
                    border: 1px solid #c58e8e;
                    border-radius: 20px;
                    background-color: rgba(252, 252, 252, 0.8);
                    box-sizing: border-box;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
                    display: inline-block; /* Change to inline-block */
                    width: auto; /* Remove fixed width */
                    padding-bottom: 100px; /* Add padding */
                    margin-top: 90px; /* Move margin to the form container */
                    text-align: center; /* Center form content */
                }
                .container {
                    padding: 10px;
                }
                /* Adjust the input fields and button styles */
                input[type="text"], input[type="password"] {
                    width: 200px; /* Make input fields full width */
                    padding: 2px;
                    margin: 0px 0px;
                    border: 1px solid #772727;
                    border-radius: 20px;
                }
                #submit-button-form {
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 10px 20px; /* Add padding */
                    margin: 10px 0; /* Add margin */
                    border: none;
                    cursor: pointer;
                    width: auto;
                }
                  /* Adjust the image size */
                .imgcontainer img {
                    width: 50%;
                    height: 50%;
                }
                  /* Remove unnecessary styles */
                  
                  /* Center the "Remember me" checkbox */
                label {
                    display: block;
                    text-align: left;
                    margin-top: 10px;
                }
				
}

/* Android Devices  */
@media all and (min-width: 1440px) and (min-height:2560px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or
            (min-width:1080px) and (min-height:2160px) or
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px) or
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:1440px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px)
            {
                form {
                    border: 1px solid #c58e8e;
                    border-radius: 20px;
                    background-color: rgba(252, 252, 252, 0.8);
                    box-sizing: border-box;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
                    display: inline-block; /* Change to inline-block */
                    width: auto; /* Remove fixed width */
                    padding-bottom: 100px; /* Add padding */
                    margin-top: 90px; /* Move margin to the form container */
                    text-align: center; /* Center form content */
                }
                .container {
                    padding: 10px;
                }
                /* Adjust the input fields and button styles */
                input[type="text"], input[type="password"] {
                    width: 200px; /* Make input fields full width */
                    padding: 2px;
                    margin: 0px 0px;
                    border: 1px solid #772727;
                    border-radius: 20px;
                }
                #submit-button-form {
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 10px 20px; /* Add padding */
                    margin: 10px 0; /* Add margin */
                    border: none;
                    cursor: pointer;
                    width: auto;
                }
                  /* Adjust the image size */
                .imgcontainer img {
                    width: 50%;
                    height: 50%;
                }
                  /* Remove unnecessary styles */
                  
                  /* Center the "Remember me" checkbox */
                label {
                    display: block;
                    text-align: left;
                    margin-top: 10px;
                }
}
form {
    border: 1px solid #c58e8e;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.8);
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    /* Change to inline-block */
    display: inline-block; 
    /* Remove fixed width */
    width: auto; 
    /* Add padding */
    padding-bottom: 0px;
    /* Move margin to the form container */ 
    margin-top: 18px; 
    /* Center form content */
    text-align: center; 
}
.container {
    padding: 10px;
}
/* Adjust the input fields and button styles */
input[type="text"], input[type="password"] {
    /* Make input fields full width */
    width: 160px; 
    padding: 2px;
    margin: 0px 0px;
    border: 1px solid #772727;
    border-radius: 20px;
}
#submit-button-form {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px; /* Add padding */
    margin: 10px 0; /* Add margin */
    border: none;
    cursor: pointer;
    width: auto;
}
  /* Adjust the image size */
.imgcontainer img {
    width: 45%;
    height: 50%;
}
  /* Remove unnecessary styles */
  
  /* Center the "Remember me" checkbox */
label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

/*Tablets*/
@media all and (min-width: 1536px) and (min-height:2048px) or 
            (min-width:1200px) and (min-height:1920px) or 
            (min-width:800px) and (min-height:1280px) or
            (min-width:1700px) and (min-height:2560px)
            {
                form {
                    border: 1px solid #c58e8e;
                    border-radius: 20px;
                    background-color: rgba(252, 252, 252, 0.8);
                    box-sizing: border-box;
                    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
                    display: inline-block; /* Change to inline-block */
                    width: auto; /* Remove fixed width */
                    padding-bottom: 100px; /* Add padding */
                    margin-top: 90px; /* Move margin to the form container */
                    text-align: center; /* Center form content */
                }
                .container {
                    padding: 10px;
                }
                /* Adjust the input fields and button styles */
                input[type="text"], input[type="password"] {
                    width: 200px; /* Make input fields full width */
                    padding: 2px;
                    margin: 0px 0px;
                    border: 1px solid #772727;
                    border-radius: 20px;
                }
                #submit-button-form {
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 10px 20px; /* Add padding */
                    margin: 10px 0; /* Add margin */
                    border: none;
                    cursor: pointer;
                    width: auto;
                }
                  /* Adjust the image size */
                .imgcontainer img {
                    width: 50%;
                    height: 50%;
                }
                  /* Remove unnecessary styles */
                  
                  /* Center the "Remember me" checkbox */
                label {
                    display: block;
                    text-align: left;
                    margin-top: 10px;
                }
}
