@media screen and (max-width: 300){
    .dropdown-content_meniu_1_2 {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-spacing: 10px;
        position: relative;
        padding: 100px;
    }
}


@media screen and (max-width: 400){
    .dropdown-content_meniu_1_2 {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-spacing: 10px;
        position: relative;
        padding: 100px;
    }
}

@media screen and (max-width: 500){
    .dropdown-content_meniu_1_2 {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-spacing: 10px;
        position: relative;
        padding: 100px;
    }
}

@media screen and (max-width: 600){
    .dropdown-content_meniu_1_2 {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-spacing: 10px;
        position: relative;
        padding: 100px;
    }
}

@media screen and (max-width: 768){
    .dropdown-content_meniu_1_2 {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-spacing: 10px;
        position: relative;
        padding: 100px;
    }
}
