@media screen and (max-width: 300){
    .dropdown-container_produse_vandute_de_top_1 {
        display: contents;
    }
}

@media screen and (max-width: 400){
    .dropdown-container_produse_vandute_de_top_1 {
        display: contents;
    }
}

@media screen and (max-width: 500){
    .dropdown-container_produse_vandute_de_top_1 {
        display: contents;
    }
}

@media screen and (max-width: 600){
    .dropdown-container_produse_vandute_de_top_1 {
        display: contents;
    }
}

@media screen and (max-width: 768){
    .dropdown-container_produse_vandute_de_top_1 {
        display: contents;
    }
}