@media screen and (max-width: 300px){
    #menu-container3 .modified-dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7dadce;
        padding: 10px;
        display: flex;
        /* Other styles as needed */
    }
}

@media screen and (max-width: 400px){
    #menu-container3 .modified-dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7dadce;
        padding: 10px;
        display: flex;
        /* Other styles as needed */
    }
}

@media screen and (max-width: 500px){
    #menu-container3 .modified-dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7dadce;
        padding: 10px;
        display: flex;
        /* Other styles as needed */
    }
}

@media screen and (max-width: 600px){
    #menu-container3 .modified-dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7dadce;
        padding: 10px;
        display: flex;
        /* Other styles as needed */
    }
}

@media screen and (max-width: 768px){
    #menu-container3 .modified-dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7dadce;
        padding: 10px;
        display: flex;
        /* Other styles as needed */
    }
}

@media screen {
    #menu-container3 .modified-dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #7dadce;
        padding: 10px;
        display: flex;
        /* Other styles as needed */
    }
}
