@media screen and (max-width: 300){
    .menu-image img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 400){
    .menu-image img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 500){
    .menu-image img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600){
    .menu-image img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768){
    .menu-image img {
        max-width: 100%;
        height: auto;
    }
}