@media screen and (max-width: 300){
    .search-bar {
        background-color: #b3b3b3be;
        padding: 4px 10px;
        color: rgb(51, 122, 18);
        border: solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        display:inline-block;
        /* margin-right: 30px; */
        width: auto;
        position: relative;
        cursor: pointer;
    }
    .search-bar .button {
        padding-left: 10px;
        border: wheat;
        width: auto;
        border-radius: 0px;
    }
    .search-bar input {
        border: 1px solid #ccc;
        border-radius: 0px;
        width: 0px;
        padding: 5px 10px;
        outline: none;
        margin-right: 30px;
        margin-right: 30px;
    }
    .search-bar #introducere-text {
        width: 200px;
    }
    .search-bar #submit-cauta {
        /* Adjust padding as needed */
        padding: 2px 4px; 
        background-color: #636053;
        color: rgb(247, 248, 247);
        border:solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        /* Adjust the width as needed */
        width: 80px; 
        /* Adjust the height as needed */
        height: 40px; 
    }
}

@media screen and (max-width: 400){
    .search-bar {
        background-color: #b3b3b3be;
        padding: 4px 10px;
        color: rgb(51, 122, 18);
        border: solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        display:inline-block;
        /* margin-right: 30px; */
        width: auto;
        position: relative;
        cursor: pointer;
    }
    .search-bar .button {
        padding-left: 10px;
        border: wheat;
        width: auto;
        border-radius: 0px;
    }
    .search-bar input {
        border: 1px solid #ccc;
        border-radius: 0px;
        width: 0px;
        padding: 5px 10px;
        outline: none;
        margin-right: 30px;
        margin-right: 30px;
    }
    .search-bar #introducere-text {
        width: 200px;
    }
    .search-bar #submit-cauta {
        /* Adjust padding as needed */
        padding: 2px 4px; 
        background-color: #636053;
        color: rgb(247, 248, 247);
        border:solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        /* Adjust the width as needed */
        width: 80px; 
        /* Adjust the height as needed */
        height: 40px; 
    }
}
@media screen and (max-width: 500){
    .search-bar {
        background-color: #b3b3b3be;
        padding: 4px 10px;
        color: rgb(51, 122, 18);
        border: solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        display:inline-block;
        /* margin-right: 30px; */
        width: auto;
        position: relative;
        cursor: pointer;
    }
    .search-bar .button {
        padding-left: 10px;
        border: wheat;
        width: auto;
        border-radius: 0px;
    }
    .search-bar input {
        border: 1px solid #ccc;
        border-radius: 0px;
        width: 0px;
        padding: 5px 10px;
        outline: none;
        margin-right: 30px;
        margin-right: 30px;
    }
    .search-bar #introducere-text {
        width: 200px;
    }
    .search-bar #submit-cauta {
        /* Adjust padding as needed */
        padding: 2px 4px; 
        background-color: #636053;
        color: rgb(247, 248, 247);
        border:solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        /* Adjust the width as needed */
        width: 80px; 
        /* Adjust the height as needed */
        height: 40px; 
    }
}

@media screen and (max-width: 600){
    .search-bar {
        background-color: #b3b3b3be;
        padding: 4px 10px;
        color: rgb(51, 122, 18);
        border: solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        display:inline-block;
        /* margin-right: 30px; */
        width: auto;
        position: relative;
        cursor: pointer;
    }
    .search-bar .button {
        padding-left: 10px;
        border: wheat;
        width: auto;
        border-radius: 0px;
    }
    .search-bar input {
        border: 1px solid #ccc;
        border-radius: 0px;
        width: 0px;
        padding: 5px 10px;
        outline: none;
        margin-right: 30px;
        margin-right: 30px;
    }
    .search-bar #introducere-text {
        width: 200px;
    }
    .search-bar #submit-cauta {
        /* Adjust padding as needed */
        padding: 2px 4px; 
        background-color: #636053;
        color: rgb(247, 248, 247);
        border:solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        /* Adjust the width as needed */
        width: 80px; 
        /* Adjust the height as needed */
        height: 40px; 
    }
}

@media screen and (max-width: 768){
    .search-bar {
        background-color: #b3b3b3be;
        padding: 4px 10px;
        color: rgb(51, 122, 18);
        border: solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        display:inline-block;
        /* margin-right: 30px; */
        width: auto;
        position: relative;
        cursor: pointer;
    }
    .search-bar .button {
        padding-left: 10px;
        border: wheat;
        width: auto;
        border-radius: 0px;
    }
    .search-bar input {
        border: 1px solid #ccc;
        border-radius: 0px;
        width: 0px;
        padding: 5px 10px;
        outline: none;
        margin-right: 30px;
        margin-right: 30px;
    }
    .search-bar #introducere-text {
        width: 200px;
    }
    .search-bar #submit-cauta {
        /* Adjust padding as needed */
        padding: 2px 4px; 
        background-color: #636053;
        color: rgb(247, 248, 247);
        border:solid;
        border-width: 1px;
        border-radius: 30px;
        cursor: pointer;
        /* Adjust the width as needed */
        width: 80px; 
        /* Adjust the height as needed */
        height: 40px; 
    }
}