@media screen and (max-width: 300){
    .search-bar input {
        padding: 5px 10px;
        border: 1px double #ccc;
        border-radius: 20px;
        outline: none;
        margin-right: 0px;
    }
}
@media screen and (max-width: 400){
    .search-bar input {
        padding: 5px 10px;
        border: 1px double #ccc;
        border-radius: 20px;
        outline: none;
        margin-right: 0px;
    }
}
@media screen and (max-width: 500){
    .search-bar input {
        padding: 5px 10px;
        border: 1px double #ccc;
        border-radius: 20px;
        outline: none;
        margin-right: 0px;
    }
}
@media screen and (max-width: 600){
    .search-bar input {
        padding: 5px 10px;
        border: 1px double #ccc;
        border-radius: 20px;
        outline: none;
        margin-right: 0px;
    }
}
@media screen and (max-width: 768){
    .search-bar input {
        padding: 5px 10px;
        border: 1px double #ccc;
        border-radius: 20px;
        outline: none;
        margin-right: 0px;
    }
}