/* Apple Devices  */
/* @media all and (min-width: 1284px) and (min-height:2778px), 
            (min-width:2532px) and (min-height:1170px), 
            (min-width:2532px) and (min-height:1170px),
            (min-width:1792px) and (min-height:828px),
            (min-width:828px) and (min-height:1792px), 
            (min-width:1125px) and (min-height:2436px),
            (min-width:1080px) and (min-height:1920px), 
            (min-width:750px) and (min-height:1334px), 
            (min-width:1080px) and (min-height:1920px), 
            (min-width:750px) and (min-height:1334px), 
            (min-width:1080px) and (min-height:1920px), 
            (min-width:750px) and (min-height:1334px), 
            (min-width:640px) and (min-height:1136px), 
            (min-width:640px) and (min-height:1136px), 
            (min-width:2048px) and (min-height:2732px), 
            (min-width:1536px) and (min-height:2048px), 
            (min-width:1536px) and (min-height:2048px), 
            (min-width:1536px) and (min-height:2048px), 
            (min-width:768px) and (min-height:1024px)
			{
                .bordered-rectangle_for_the_first_3_categories_Acasa_Categorii_Produse_Produse_de_top {
                    border: 2px solid #000000;
                    border-style: solid;
                    border-radius: 20px;
                    margin: 20px;
                    padding-top: 0px;
                    height: 240px;
                    width: 1860px;
                    box-sizing: border-box;
                    position:sticky; 
                    display:inline-block;
                    justify-content: right;
                    list-style: none;
                    background-color: rgb(204, 161, 5);
                }
				
} */
.bordered-rectangle_for_the_first_3_categories_Acasa_Categorii_Produse_Produse_de_top {
    border: 2px solid #000000;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    padding-top: 0px;
    height: 240px;
    width: 1860px;
    box-sizing: border-box;
    position:sticky; 
    display:inline-block;
    justify-content: right;
    list-style: none;
    background-color: rgb(204, 161, 5);
}

/* Android Devices  */
/* @media all and (min-width: 1440px) and (min-height:2560px), 
            (min-width:1080px) and (min-height:1920px), 
            (min-width:1440px) and (min-height:2960px),
            (min-width:1080px) and (min-height:2160px),
            (min-width:1440px) and (min-height:2560px), 
            (min-width:1440px) and (min-height:2560px),
            (min-width:1440px) and (min-height:2960px), 
            (min-width:1440px) and (min-height:2560px), 
            (min-width:1440px) and (min-height:1440px), 
            (min-width:1080px) and (min-height:1920px), 
            (min-width:1440px) and (min-height:2960px), 
            (min-width:1440px) and (min-height:2960px), 
            (min-width:1440px) and (min-height:2960px), 
            (min-width:1440px) and (min-height:2960px), 
            (min-width:1440px) and (min-height:2560px), 
            (min-width:1440px) and (min-height:2560px)
			{
                .bordered-rectangle_for_the_first_3_categories_Acasa_Categorii_Produse_Produse_de_top {
                    border: 2px solid #000000;
                    border-style: solid;
                    border-radius: 20px;
                    margin: 20px;
                    padding-top: 0px;
                    height: 240px;
                    width: 1860px;
                    box-sizing: border-box;
                    position:sticky; 
                    display:inline-block;
                    justify-content: right;
                    list-style: none;
                    background-color: rgb(204, 161, 5);
                }
} */

/*Tablets*/
/* @media all and (min-width: 1536px) and (min-height:2048px), 
            (min-width:1200px) and (min-height:1920px), 
            (min-width:800px) and (min-height:1280px),
            (min-width:1700px) and (min-height:2560px)
			{
                .bordered-rectangle_for_the_first_3_categories_Acasa_Categorii_Produse_Produse_de_top {
                    border: 2px solid #000000;
                    border-style: solid;
                    border-radius: 20px;
                    margin: 20px;
                    padding-top: 0px;
                    height: 240px;
                    width: 1860px;
                    box-sizing: border-box;
                    position:sticky; 
                    display:inline-block;
                    justify-content: right;
                    list-style: none;
                    background-color: rgb(204, 161, 5);
                }
				
} */
