h1::before {
    content: "";
    display: inline;
    width: 15px;
    height: 15px;
    /* Color of the circle */
    border: 15px solid #000000; 
    /* Make it a circle */
    border-radius: 50px; 
    float: left;
    bottom: 10px;
    position:sticky;
    position: -webkit-sticky;
    /* position: -webkit-sticky; */
    /* Adjust this value to position the circle inside the border */
    right: 10px; 
    /* Center vertically */
    top: 55px;
    /* bottom: 20px;  */
    /* Adjust to vertically center the circle */
    /* transform: translateY(-2%); */
    /* animation: pulse 2s infinite alternate; */
}
h1::after {
    /* Make it rounded */
    border-radius: 12px; 
    /* Empty content */
    content: ""; 
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    /* Adjust this value to position the box inside the border */
    right: 10px; 
    /* Distance from the top */
    top: 12px; 
    overflow: auto;
    background: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); /* Replace with your coffee image path */
    /* Adjust background size as needed */
    background-size: contain; 
    /* Apply animation */
    /* animation: moveCoffee 4s linear infinite; */
}
h1::after::before {
    /* Empty content */
    content: ""; 
    display:inline;
    width: 60px;
    height: 60px;
    /* Replace with your coffee image path */
    background: url("https://resources.finalsite.net/images/v1675459750/princetonk12mnus/sxsuzkesdsaseo5us4qq/coffee.png"); 
    /* Adjust background size as needed */
    background-size: contain; 
    /* Apply animation */
    animation: pulse 2s infinite alternate;
    position: -webkit-sticky;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
        /* Add webkit prefix for older iOS devices */
        -webkit-transform: scale(0.95); 
	}

	70% {
		transform: scale(1);
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
        -webkit-transform: scale(1);
    }

	100% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
        -webkit-transform: scale(0.95);
	}
}