@media only screen and (min-width:412px) and (min-height:912px) and (orientation:landscape) {
    .canvas-container {
        background: linear-gradient(55deg, rgb(110, 100, 100) 0%, #e38b8b 51%, #c47181 85%);
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
        border-width: 0px;
        /* display: flex; */
        border-radius: 10px;
    }
    /* Style for each canvas section */
    .canvas-section {
        /* Equal width for both sections */
        width: 900px; 
        /* Add borders for separation (optional) */
        border: 10px solid #000000;
        /* border-inline-start-width: 2px; */
        border-left-style: ridge;
        border-right-style: ridge;
        border-top-style: ridge;
        border-bottom-style: ridge;
        /* Add padding for spacing (optional) */
        padding: 10px; 
    }
    /* Style for the canvas element */
    canvas {
        margin-top: 80px;
        position: fixed;
        margin-bottom: 80px;
        margin-top: 100px;
        /* Make the canvas fill its container */
        width: 200px; 
        /* Make the canvas fill its container */
        height: 100px; 
    }
}