@media screen and (max-width: 300px) {
    nav.menu.ul {
        border: #a9bbab;
        border-radius: 10px;
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    nav.menu.ul {
        border: #a9bbab;
        border-radius: 10px;
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    nav.menu.ul {
        border: #a9bbab;
        border-radius: 10px;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    nav.menu.ul {
        border: #a9bbab;
        border-radius: 10px;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    nav.menu.ul {
        border: #a9bbab;
        border-radius: 10px;
        width: auto;
    }
}