@media screen and (max-width: 300px) {
    .select:hover {
        background-color: #7dadce;
    }
}
@media screen and (max-width: 400px) {
    .select:hover {
        background-color: #7dadce;
    }
}
@media screen and (max-width: 500px) {
    .select:hover {
        background-color: #7dadce;
    }
}
@media screen and (max-width: 600px) {
    .select:hover {
        background-color: #7dadce;
    }
}
@media screen and (max-width: 768px) {
    .select:hover {
        background-color: #7dadce;
    }
}