.dropdown-content_meniu_1si2 {
    display: flex;
    border: 2px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-style: calc(); */
    flex-direction: row; /* Display elements horizontally */
}

/* Style for individual links within the dropdown menu */
.dropdown-content_meniu_1si2 a {
    /* Margin between links */
    margin-right: 10px; 
}