
#bara-de-cautare-principala {
    padding: 1px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 23, 137);
    border: outset;
    border-width: 0.5vw 0.5vw;
    border-color: rgb(68, 162, 255);
    border-radius: 30px;
    /* Center the search bar horizontally */
    left: 231px;
    /* Adjust to properly center */
    /* transform: translateX(-50%);  */
    z-index: 1;
    cursor: pointer;
    /* display: ruby-base-container; */
    /* Set the width of the search bar */
    /* Set maximum width if needed *
    /* Adjust top position */
    transform: translateY(-300%);
    top: 270px;
    margin-top: 0px;
    margin-bottom: 20px; 
    /* Use block level element */
    display: inline-block; 
    position: absolute;
    /* Center align the content */
    /* text-align: center; */
    /* Center the block element */
    margin:0px;

}
  
.search-bar input[type="text"] {
    border: 3px outset rgb(0, 123, 255);
    background-color: whitesmoke;
    border-radius: 25px;
    /* Adjust input field width */
    width: 500px;
    padding: 10px;
    outline: none;
}

#introducere-text-bara-de-cautare-principala {
    width: 500px;
    padding-bottom: 2px;
}

#submit-cauta-bara-de-cautare {
    padding: 2px 4px;
    color: rgb(255, 255, 255);
    border: 2px outset;
    border-radius: 30px;
    background: repeating-linear-gradient(21deg, rgb(0, 0, 255) 75%, rgb(0, 0, 0) 80%, rgb(163, 0, 0) 50%);
    cursor: pointer;
    /* Adjust button width */
    width: 200px; 
    max-width: 100px; /* Set maximum width if needed */
    height: 40px;
}

#searchDropdown{
    display: none;
    
}
.dropdown-item{
    display: inline-block;
}