@media screen and (max-width: 300){
    body{
        background-color: wheat;
    }
}
@media screen and (max-width: 400){
    body{
        background-color: wheat;
    }
}
@media screen and (max-width: 500){
    body{
        background-color: wheat;
    }
}
@media screen and (max-width: 600){
    body{
        background-color: wheat;
    }
}
@media screen and (max-width: 768){
    body{
        background-color: wheat;
    }
}