/* Style for the container #Acasa_menu_container  */
#Acasa_menu_container {
    border: 1px; 
    border-color:#ffffff;
    border-width: 1px;
    border-style: groove;
    border-radius: 20px;
    /* box-sizing:content-box; */
    /* box-shadow: wheat; */
    width: 400px;
    /* margin: 50px; */
    list-style-type: none;
    position: sticky;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(35deg, #ffffff 27%, rgb(1, 112, 168)66%, rgb(255, 255, 255) 75%);
    animation: flowWaves 4s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;
    /* background-size: 200% 200%; */
}

#meniu_ordered_1 {
    list-style-type: none;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    border-style:solid;
    box-sizing:border-box;
    position: sticky;
    display: block;
}

#continut_acasa_dropdown{
    border-radius: 15px;
    padding-top: 10px;
    justify-items: center;
    text-align: center;
    font-display: auto;
    border-color: rgb(255, 255, 255);
}

.menu-container_acasa .menu-ordered_list_1 {
    list-style-type: none;
    text-align: center;
    border-style:solid;
    position: sticky;
    box-sizing:border-box;
}
.menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
    list-style-type: none;
    text-align: center;
    /* margin-right: 10px; */
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px #000000;
    border-style: solid;
    border-radius: 30px;
    /* display: flexbox; */
    position: absolute;
    /* margin-top: 20px; */
    min-width: 300px;
    box-shadow: 2px 2px 16px 2px rgb(255, 255, 255);
    z-index: 1;
    display: none;
}


.menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
    display:block;
    text-align: center;
    /* inline-size: 2px; */
    border: 1px #000000 solid;
    background-color: none;
    list-style-type: none;
    margin-top: 0px;
}

.li_continut_1_tip_lista{
    border-top-width: 1px;
    padding: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(0, 0, 0);
    border-radius: 30px;
    border-top: rgb(0, 0, 0) outset;
    border-bottom: rgb(0, 0, 0) outset;
    border-right: rgb(0, 0, 0) outset;
    border-left: rgb(0, 0, 0) outset;
    /* margin-bottom: 10px; */
    align-content: center;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font:menu;
}

.li_continut_2_tip_lista {
    background-color: rgb(255, 255, 255);
    padding: 1px;
    border: 1px black;
    border-radius: 30px;
    border-top: rgb(0, 0, 0), outset;
    border-bottom: rgb(0, 0, 0) outset;
    border-right: rgb(255, 255, 255) outset;
    border-left: rgb(255, 255, 255) outset;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    font:menu;
}

.li_continut_3_tip_lista{
    background-color: rgb(255, 255, 255);
    padding: 1px;
    border: 1px black;
    border-radius: 30px;
    border-top: rgb(0, 0, 0) outset;
    border-bottom: rgb(0, 0, 0) outset;
    border-right: rgb(0, 0, 0) outset;
    border-left: rgb(0, 0, 0) outset;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    font:menu;
}