.search-bar {
    margin-left: 0%;
    position: relative;
    width: 100%;
    inline-size: 400px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-top: 100px;
    /* display:inline-block; */
    background: linear-gradient(23deg, rgb(174, 188, 103) 23%, #bae14f 51%, #c0b468 85%);
    /* text-justify: inter-cluster; */
}
#bara-de-cautare-principala{
    display:inline-block;
}
.search-bar input {
    position: sticky;
    padding: 5px 10px;
    border: 1px double #ccc;
    border-radius: 20px;
    outline: none;
    margin-right: 0px;
}
.search-bar button {
    position: sticky;
    padding: 10px 15px;
    background-color: #c2b56e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    border-spacing: 2px;
    border-left-width: 10px;
    cursor: pointer;
    left: 10px;
}
.search-bar {
    background-color: #b3b3b3be;
    padding: 5px 10px;
    /* padding-top: 100px; */
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    border: solid;
    /* margin-top: -20px; */
    /* border-width: 2px; */
    border-bottom-width: 0.3vw;
    border-right-width: 0.16vw;
    border-right-color: rgb(21, 64, 106);
    border-bottom-color: rgb(21, 64, 106);
    border-bottom-width: 2px;
    border-top-color:rgb(21, 64, 106);
    border-left-width: 0.2vw;
    border-radius: 30px;
    border: top left radius 25px;;
    cursor: pointer;
    display:inline-block;
    /* margin-right: 30px; */
    width: auto;
    position: sticky;
    cursor: pointer;
}
.search-bar .button {
    padding-left: 10px;
    border: wheat;
    width: auto;
    border-radius: 0px;
}
.search-bar input {
    /* float: right; */
    border: 2px solid #ffffff;
    background-color: rgb(224, 121, 95);
    background: linear-gradient(20deg, #ffffff 21%, rgba(128, 125, 153, 0.989)61%, rgb(37, 36, 36) 95%);
    border-radius: 25px;
    width: 0px;
    padding: 5px 10px;
    outline: none;
    margin-left: 230px;
    position: relative;
}
.search-bar #introducere-text {
    width: 600px;
    float:none;
}
.search-bar #submit-cauta {
    padding: 2px 4px; /* Adjust padding as needed */
    background: linear-gradient(20deg, rgb(37, 36, 36) 21%, rgba(128, 125, 153, 0.989)61%, #ffffff 95%);
    color: rgb(3, 4, 3);
    border:solid;
    border-width: 2px;
    border-radius: 30px;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}