/* Bara de cautare stil pentru tip device PC. */

/* Search bar container */
.search-bar {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 23, 137);
    border: outset;
    border-width: 0.5vw 0.5vw;
    border-color: rgb(68, 162, 255);
    border-radius: 30px;
    position: sticky;
    /* margin-top: 100px; */
    /* bottom: 350px; */
    left: 1500px;
    bottom: 777px;
    z-index: 1000; /* Added z-index to ensure it's above other elements */
    cursor: pointer;
    display: inline-block;
}
/* Make the container fixed within the viewport */
.fixed-search-bar {
    position: fixed;
    left: 1500px; /* Adjusted positioning */
    bottom: 777px; /* Adjusted positioning */
    z-index: 1000;
}

/* Input field */
.search-bar input[type="text"] {
    padding: 5px 10px;
    border: 3px outset rgb(0, 123, 255);
    background-color: whitesmoke;
    /* text-decoration: crimson; */
    border-radius: 25px;
    /* Adjusted width with margin-left accounted for */
    width: calc(100% - 250px); 
    outline: none;
    position: relative;
}

/* Search button */
.search-bar button {
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Specific styles for certain IDs */
#introducere-text-bara-de-cautare-principala {
    width: 100px;
}

#submit-cauta-bara-de-cautare {
    padding: 2px 4px;
    color: rgb(255, 255, 255);
    border: 2px outset;
    border-radius: 30px;
    background: repeating-linear-gradient(21deg, rgb(0, 0, 255) 75%, rgb(0, 0, 0) 80%, rgb(163, 0, 0) 50%);
    cursor: pointer;
    width: 100px;
    height: 40px;
}

/* Container display */
#bara-de-cautare-principala {
    display: inline-block;
}

/* Media queries for responsiveness */
@media screen and (min-width: 412px) {
    .search-bar {   
        /* Adjusted width for smaller screens */
        width: 20%; 
        /* Adjusted positioning for smaller screens */
        left: 75%; 
        /* Adjusted positioning for smaller screens */
        bottom: 80%; 
    }
}