.dropdown-content_meniu_1si2 {
    border: 2px;
    align-content: center;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-spacing: 10px;
    position: static;
    padding: 10px;
    /* background: local; */
    /* background-color: rgb(0, 0, 0); */
    /* margin-left: 20px; */
}