#Menu_Categories {
    border: 1px;
    border-color:#ffffff;
    background:linear-gradient(35deg, #ffffff 27%, rgb(255, 222, 33)66%, rgb(255, 255, 255) 75%);
    animation: flowWaves 4s infinite alternate-reverse, flowWavesDepth 10s infinite alternate-reverse;
    border-width: 1px;
    border-style: groove;
    border-radius: 20px;
    width: 100px;
    margin-left: 200px;
    margin-right: auto;
    list-style-type: none;
    position: relative;
    display:inline-block;
    margin-left: 12px;
}

.menu-container_categories .menu-ordered_list_2 {
    list-style-type: none;
    text-align: center;
    border: 1px #ffffff;
    border-radius: 20px;
    border-style:solid;
    box-sizing:unset;
    position: static;
    display: block;
}
.menu-ordered_list_2 .dropdown-list_items_2 .dropdown_content_ordered_list_2 {
    list-style-type: none;
    text-align: center;
    /* margin-right: 10px; */
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding: 0px;
    border: 1px #ffffff;
    border-style: solid;
    border-radius: 20px;
    /* display: flexbox; */
    position: absolute;
    /* margin-top: 20px; */
    /* background-color:#ffffff; */
    min-width: 340px;
    box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
    z-index: 1;
    display: none;
}
.menu-ordered_list_2:hover .dropdown-list_items_2:hover .dropdown_content_ordered_list_2 {
    display:block;
    text-align: center;
    inline-size: 2px;
    list-style: none;
    position: absolute;
    box-shadow: 2px 2px 16px 2px rgb(255, 255, 255);
    background-color: linear-gradient(20deg, rgb(255, 0, 0) 21%, #d08132 61%, #ff0000 95%);
}
.ol .dropdown_content_ordered_list_2 {
    border: #000000;
    border-style: solid 2px;
}
.li_categoria_1_lista{
    background-color: linear-gradient(20deg, rgb(255, 0, 0) 21%, #d08132 61%, #ff0000 95%);
    border: 3px black outset;
    border-radius: 30px;
    padding: 1px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
    align-content: center;
    font:menu;
}
.li_categoria_2_lista{
    background-color: linear-gradient(20deg, rgb(255, 0, 0) 21%, #d08132 61%, #ff0000 95%);
    border: 3px black outset;
    border-radius: 30px;
    padding: 1px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
    align-content: center;
    font:menu;
}
.li_categoria_3_lista{
    background-color: linear-gradient(20deg, rgb(255, 0, 0) 21%, #d08132 61%, #ff0000 95%);
    border: 3px black outset;
    border-radius: 30px;
    padding: 1px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
    align-content: center;
    font:menu;
}