/* Apple Devices  */
@media all and (min-width: 1284px) and (min-height:2778px) or 
            (min-width:2532px) and (min-height:1170px) or 
            (min-width:2532px) and (min-height:1170px) or
            (min-width:1792px) and (min-height:828px) or
            (min-width:828px) and (min-height:1792px) or 
            (min-width:1125px) and (min-height:2436px) or
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:750px) and (min-height:1334px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:640px) and (min-height:1136px) or 
            (min-width:2048px) and (min-height:2732px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:1536px) and (min-height:2048px) or 
            (min-width:768px) and (min-height:1024px)
			{
                .menu-container_acasa {
                    border: 1px #000000;
                    border-width: 4px;
                    border-style: double;
                    border-radius: 40px;
                    box-sizing:content-box;
                    width: 400px;
                    margin: 20px;
                    list-style-type: none;
                    position: relative;
                    display:inline-block;
                    flex: 1;
                    margin-bottom: 80px;
                }
                
                
                .menu-container_acasa .menu-ordered_list_1 {
                    list-style-type: none;
                    text-align: center;
                    border: 1px solid blue;
                    border-radius: 20px;
                    border-style:solid;
                    box-sizing:border-box;
                    position: sticky;
                    display: block;
                }
                
                
                .menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
                    list-style-type: none;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 0px;
                    border: 1px #000000;
                    border-style: solid;
                    border-radius: 0px;
                    /* display: flexbox; */
                    position: absolute;
                    margin-top: 20px;
                    background-color:#a3a074;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    display: none;
                }
                
                
                .menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
                    display:block;
                    text-align: center;
                    inline-size: 2px;
                    border: 1px #000000 solid;
                    list-style-type: none;
                    margin-top: 0px;
                }
                
                .ol .dropdown-content_ordered_list_categories {
                    border: #000000;
                    border-style: solid 2px;
                }
                
                .li_continut_1_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                .li_continut_2_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                .li_continut_3_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                #continut_acasa_dropdown{
                    border-radius: 15px;
                    padding-top: 2px;
                    justify-items: center;
                    text-align: center;
                    font-display: auto;
                    border-color: rgb(59, 42, 42);
                }
				
}

/* Android Devices  */
@media all and (min-width: 1440px) and (min-height:2560px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or
            (min-width:1080px) and (min-height:2160px) or
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px) or
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:1440px) or 
            (min-width:1080px) and (min-height:1920px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2960px) or 
            (min-width:1440px) and (min-height:2560px) or 
            (min-width:1440px) and (min-height:2560px)
			{
                .menu-container_acasa {
                    border: 1px #000000;
                    border-width: 4px;
                    border-style: double;
                    border-radius: 40px;
                    box-sizing:content-box;
                    width: 400px;
                    margin: 20px;
                    list-style-type: none;
                    position: relative;
                    display:inline-block;
                    flex: 1;
                    margin-bottom: 80px;
                }
                
                
                .menu-container_acasa .menu-ordered_list_1 {
                    list-style-type: none;
                    text-align: center;
                    border: 1px solid blue;
                    border-radius: 20px;
                    border-style:solid;
                    box-sizing:border-box;
                    position: sticky;
                    display: block;
                }
                
                
                .menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
                    list-style-type: none;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 0px;
                    border: 1px #000000;
                    border-style: solid;
                    border-radius: 0px;
                    /* display: flexbox; */
                    position: absolute;
                    margin-top: 20px;
                    background-color:#a3a074;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    display: none;
                }
                
                
                .menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
                    display:block;
                    text-align: center;
                    inline-size: 2px;
                    border: 1px #000000 solid;
                    list-style-type: none;
                    margin-top: 0px;
                }
                
                .ol .dropdown-content_ordered_list_categories {
                    border: #000000;
                    border-style: solid 2px;
                }
                
                .li_continut_1_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                .li_continut_2_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                .li_continut_3_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }

                #continut_acasa_dropdown{
                    border-radius: 15px;
                    padding-top: 2px;
                    justify-items: center;
                    text-align: center;
                    font-display: auto;
                    border-color: rgb(59, 42, 42);
                }
}
.menu-container_acasa {
    border: 1px #000000;
    border-width: 4px;
    border-style: double;
    border-radius: 40px;
    box-sizing:content-box;
    width: 400px;
    margin: 20px;
    list-style-type: none;
    position: relative;
    display:inline-block;
    flex: 1;
    margin-bottom: 80px;
}


.menu-container_acasa .menu-ordered_list_1 {
    list-style-type: none;
    text-align: center;
    border: 1px solid blue;
    border-radius: 20px;
    border-style:solid;
    box-sizing:border-box;
    position: sticky;
    display: block;
}

#continut_acasa_dropdown{
    border-radius: 15px;
    padding-top: 2px;
    justify-items: center;
    text-align: center;
    font-display: auto;
    border-color: rgb(59, 42, 42);
}

.menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
    padding-top: 0px;
    border: 1px #000000;
    border-style: solid;
    border-radius: 0px;
    /* display: flexbox; */
    position: absolute;
    margin-top: 20px;
    background-color:#a3a074;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}


.menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
    display:block;
    text-align: center;
    inline-size: 2px;
    border: 1px #000000 solid;
    list-style-type: none;
    margin-top: 0px;
}

.ol .dropdown-content_ordered_list_categories {
    border: #c71b1b;
    border-style: solid 2px;
}

.li_continut_1_tip_lista{
    border-top: rgb(255, 251, 0) solid;
    border-top-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-width: 2px;
    border-bottom-right-radius: 10px;
    border-top: rgb(255, 251, 0) solid;
    border-top-left-radius: 10px;
    border-right-width: 2px;
    border-bottom-left-radius: 10px;
    border-left-width: 2px;
    margin-bottom: 10px;
}

.li_continut_2_tip_lista {
    border-top: rgb(255, 251, 0) solid;
    border-top-width: 2px;
    border-top-right-radius: 10px;
    border-bottom: rgb(255, 251, 0) solid;
    border-bottom-width: 2px;
    border-bottom-right-radius: 10px;
    border-right: rgb(255, 251, 0) solid;
    border-top-left-radius: 10px;
    border-right-width: 2px;
    border-left: rgb(255, 251, 0) solid;
    border-bottom-left-radius: 10px;
    border-left-width: 2px;
    margin-bottom: 10px;
}

.li_continut_3_tip_lista{
    border-left: rgb(255, 251, 0) solid;
    border-top-width: 2px;
    border-top-right-radius: 10px;
    border-left: rgb(255, 251, 0) solid;
    border-bottom-width: 2px;
    border-bottom-right-radius: 10px;
    border-left: rgb(255, 251, 0) solid;
    border-top-left-radius: 10px;
    border-right-width: 2px;
    border-left: rgb(255, 251, 0) solid;
    border-bottom-left-radius: 10px;
    border-left-width: 2px;
    margin-bottom: 10px;
}

/*Tablets*/
@media all and (min-width: 1536px) and (min-height:2048px) or 
            (min-width:1200px) and (min-height:1920px) or 
            (min-width:800px) and (min-height:1280px) or
            (min-width:1700px) and (min-height:2560px)
			{
                .menu-container_acasa {
                    border: 1px #000000;
                    border-width: 4px;
                    border-style: double;
                    border-radius: 40px;
                    box-sizing:content-box;
                    width: 400px;
                    margin: 20px;
                    list-style-type: none;
                    position: relative;
                    display:inline-block;
                    flex: 1;
                    margin-bottom: 80px;
                }
                
                
                .menu-container_acasa .menu-ordered_list_1 {
                    list-style-type: none;
                    text-align: center;
                    border: 1px solid blue;
                    border-radius: 20px;
                    border-style:solid;
                    box-sizing:border-box;
                    position: sticky;
                    display: block;
                }
                
                
                .menu-ordered_list_1 .dropdown-list_items_1 .dropdown-content_ordered_list_categories {
                    list-style-type: none;
                    text-align: center;
                    margin-right: 10px;
                    padding-top: 0px;
                    border: 1px #000000;
                    border-style: solid;
                    border-radius: 0px;
                    /* display: flexbox; */
                    position: absolute;
                    margin-top: 20px;
                    background-color:#a3a074;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    display: none;
                }
                
                
                .menu-ordered_list_1:hover .dropdown-list_items_1:hover .dropdown-content_ordered_list_categories {
                    display:block;
                    text-align: center;
                    inline-size: 2px;
                    border: 1px #000000 solid;
                    list-style-type: none;
                    margin-top: 0px;
                }
                
                .ol .dropdown-content_ordered_list_categories {
                    border: #000000;
                    border-style: solid 2px;
                }
                
                .li_continut_1_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                .li_continut_2_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
                
                .li_continut_3_tip_lista{
                    border-top: #0011ff solid;
                    border-top-width: 1px;
                    border-top-right-radius: 10px;
                    border-bottom: #0011ff solid;
                    border-bottom-width: 1px;
                    border-bottom-right-radius: 10px;
                    border-right: #0011ff solid;
                    border-top-left-radius: 10px;
                    border-right-width: 1px;
                    border-left: #0011ff solid;
                    border-bottom-left-radius: 10px;
                    border-left-width: 1px;
                    margin-bottom: 10px;
                }
				
}

