/* menu containers *//* menu containers *//* menu containers *//* menu containers */
.menu-container {
    /* display: block; */
    position: relative;
    gap: 30px; /* Add gap between the lists */
    
}
.menu-container#Categories {
    margin-left: auto;
}
.menu-images-container {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.menu-images-container img {
    max-width: 20%; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}
/* menu containers *//* menu containers *//* menu containers *//* menu containers */
/* menu list hover dropdown content *//* menu list hover dropdown content *//* menu list hover dropdown content */
.menu li:hover .dropdown-content {
    position: absolute;
    list-style-type:none;
    display:block;
}
/* menu list hover dropdown content *//* menu list hover dropdown content *//* menu list hover dropdown content */
/* menu-container hover dropdown-container *//* menu-container hover dropdown-container *//* menu-container hover dropdown-container */
/* .menu-container:hover .dropdown-container {
    opacity: 1;
    z-index: 1;
    position: absolute;
} */
/* menu-container hover dropdown-container *//* menu-container hover dropdown-container *//* menu-container hover dropdown-container */


  /* Adjust margins and other styles as needed */