body{
    background-image: url("https:///i.cbc.ca//1.4313356.1683123165!//fileImage//httpImage//coffee-parkinsons.jpg; max-width100%; max-height100%");
    background-size:cover;
}
.body .header .h1 {
    text-align: center; 
    border: 2px solid rgb(0, 0, 0);
}

.border_box_text_descriere_GoodCoffeeStore{
    border: 2px chocolate;
    border-width: 1px;
    border-style: solid;
    display: block;
}
/* body{
    background-color: rgb(184, 177, 169);
} */